<!doctype html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--CSS -->
    <link rel="stylesheet" href="/usr/v1/template/themeforest-v1.0/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/usr/v1/template/themeforest-v1.0/assets/font-awesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/usr/v1/template/themeforest-v1.0/assets/css/style.css">

    <!-- dev -->
    <link rel="stylesheet" href="/usr/v1/css/common.css">

	<title>FishOn - 피쉬온</title>

</head>

<body>
	 <form name ="formList" method = "post" action = "/v1/port/portList" autocomplete="off">
		<input type="hidden" name="thisPage" th:value="${vo.thisPage}" default="1"/>
		<input type="hidden" id="rowNumToShow" name="rowNumToShow" th:value="${vo.rowNumToShow}"/>
<div class="ts-page-wrapper ts-has-bokeh-bg" id="page-top">
    <div th:replace="~{usr/v1/etc/head :: page-header}"></div>

    <main id="ts-main">
        <section id="page-title">
            <div class="container">
                <div class="ts-title">
                    <h1>항구</h1>
                </div>
            </div>
        </section>
        <section id="agencies-list">
            <div class="container">
                <section id="display-control" class="clearfix">

                    <!--Display selector on the right-->
                    <div class="float-none float-sm-right pl-2 ts-center__vertical">
                        <label for="sorting" class="mb-0 mr-2 text-nowrap">Sort by:</label>
                        <select class="custom-select bg-transparent" id="sorting" name="sorting">
                            <option value="">Default</option>
                            <option value="1">Price lowest first</option>
                            <option value="2">Price highest first</option>
                            <option value="3">Distance</option>
                        </select>
                    </div>

                </section>

                <!--AGENCIES
                    =================================================================================================-->
                <section id="agencies">

                    <!--Agency-->
                    <div class="card ts-item ts-item__list ts-item__company ts-card" th:each="list:${list}">

                        <!--Ribbon-->
                        <!-- <div class="ts-ribbon">
                            <i class="fa fa-thumbs-up"></i>
                        </div> -->

                        <!--Card Image-->
                        <!-- <a th:href="@{/v1/prot/portDetail(ptSeq=${list.ptSeq})}" class="card-img">
                            
                            <img src="/usr/v1/template/themeforest-v1.0/assets/img/logo-agency-01.png" alt="">
                        </a> -->
                        <a th:href="@{/v1/port/portDetail(ptSeq=${list.ptSeq})}">
                            <div class="card-img">
                                <img src="/usr/v1/template/themeforest-v1.0/assets/img/logo-agency-01.png" alt="">  
                            </div>
                            <div class="card-body">
                                <figure class="ts-item__info">
                                    <h4 th:text="${list.ptName}"></h4>
                                    <aside>
                                        <i class="fa fa-map-marker mr-2"></i>
                                        <span th:text="${list.ptAddress}"></span>
                                    </aside>
                                </figure>
                                <div class="ts-company-info">
                                    <div class="ts-company-contact mb-2 mb-sm-0">
                                        <div>
                                            <i class="fas fa-building"></i>
                                            <span th:text="${@codeService.selectOneCachedCode(list.ptArea)}"></span>
                                        </div>
                                        <div>
                                            <i class="fas fa-info-circle"></i>
                                            <span th:text="${list.ptDesc}"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <!-- <a th:href="@{/v1/prot/portDetail(ptSeq=${list.ptSeq})}" class="ts-btn-arrow">자세히</a> -->
                                <span class="ts-btn-arrow">자세히</span>
                            </div>
                        </a>
                    </div>
                </section>
                <section id="pagination">
                    <div class="container-fluid px-0 mt-2 mb-2">
						<div class="row">
							<div class="col">
								<ul class="pagination justify-content-center mb-0 mt-0">
									<li th:if="${vo.startPage gt vo.pageNumToShow}" class="page-item" style="cursor: pointer;"><a class="page-link" href="javascript:goList(${vo.startPage - 1})" th:attr="onclick=|goList('${vo.startPage - 1}')|"><i class="fa fa-caret-left"></i></a></li>
								<li th:each="num: ${#numbers.sequence(vo.startPage, vo.endPage)}" th:classappend="${num eq vo.thisPage} ? active : ''" class="page-item" style="cursor: pointer;"><a class="page-link" th:attr="onclick=|goList('${num}')|" th:text="${num}"><!-- ${i.index} --></a></li>
								<li th:if="${vo.endPage ne vo.totalPages}" class="page-item" style="cursor: pointer;"><a class="page-link" th:attr="onclick=|goList('${vo.endPage + 1}')|"><i class="fa fa-caret-right"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
                </section>
            </div>
        </section>
    </main>
	</form>
    <div th:replace="~{usr/v1/etc/footer :: page-footer}"></div>
</div>
    
<script type="text/javascript">
	goList = function (thisPage) {
        document.querySelector("input[name=thisPage]").value = thisPage;
        document.querySelector("form[name=formList]").action = "/v1/port/portList";
        document.querySelector("form[name=formList]").submit();
	}

	document.getElementById("changeRowNum").onchange = function () {
        document.getElementById("rowNumToShow").value = document.getElementById("changeRowNum").value;
        form.action = goUrlXdmList;
        form.submit();
	}
</script>
<script src="/usr/v1/template/themeforest-v1.0/assets/js/jquery-3.3.1.min.js"></script>
<script src="/usr/v1/template/themeforest-v1.0/assets/js/popper.min.js"></script>
<script src="/usr/v1/template/themeforest-v1.0/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/usr/v1/template/themeforest-v1.0/assets/js/custom.js"></script>
<script src="/usr/v1/js/script.js"></script>

</body>
</html>

