<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="ThemeStarz">

    <!--CSS -->
    <link rel="stylesheet" href="/usr/v1/template/themeforest-v1.0/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/usr/v1/template/themeforest-v1.0/assets/font-awesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/usr/v1/template/themeforest-v1.0/assets/css/leaflet.css">
    <link rel="stylesheet" href="/usr/v1/template/themeforest-v1.0/assets/css/style.css">

    <!-- dev -->
    <link rel="stylesheet" href="/usr/v1/css/common.css">
    
    <!-- by developer -->
	<link rel="stylesheet" href="/xdm/v1/css/datetimepicker/jquery.datetimepicker.min.css">

	<title>FishOn - 피쉬온</title>
    <link rel="icon" href="/usr/v1/template/themeforest-v1.0/assets/img/favicon.ico">

</head>

<body>

<!-- WRAPPER
    =================================================================================================================-->
<div class="ts-page-wrapper ts-has-bokeh-bg" id="page-top">

    <!--*********************************************************************************************************-->
    <!--HEADER **************************************************************************************************-->
    <!--*********************************************************************************************************-->
    <div th:replace="~{usr/v1/etc/head :: page-header}"></div>
    <!--end Header-->

    <!--*********************************************************************************************************-->
    <!-- MAIN ***************************************************************************************************-->
    <!--*********************************************************************************************************-->

    <main id="ts-main">

        <!--BREADCRUMB
            =========================================================================================================-->
        <section id="breadcrumb">
            <div class="container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Port</li>
                    </ol>
                </nav>
            </div>
        </section>

        <!--PAGE TITLE
            =========================================================================================================-->
        <section id="page-title">
            <div class="container">

                <div class="ts-title">
                    <h1>항구</h1>
                </div>

            </div>
        </section>

        <!--AGENCY INFO
            =========================================================================================================-->
        <section id="agency-info">
            <div class="container">

                <!--Box-->
                <div class="ts-box">

                    <!--Ribbon-->
                   
                    <!--Row-->
                    <div class="row">

                        <!--Brand-->
                        <div class="col-md-4 ts-center__both">
                            <div class="ts-circle__xxl ts-shadow__md">
                                <img th:src="${item.path != null ? item.path : '/usr/v1/template/themeforest-v1.0/assets/img/FishOn_default.png'}" alt="${item.ptName+' 이미지'}">
                            </div>
                        </div>

                        <!--Description-->
                        <div class="col-md-8 row">

                            <div class="py-4 col-8">

                                <!--Title-->
                                <div class="ts-title mb-2">
                                    <h2 class="mb-1" th:text="${item.ptName}"></h2>
                                    <h5>
                                        <i class="fa fa-map-marker mr-2"></i>
                                        <span th:text="${item.ptAddress}"></span>
                                    </h5>
                                </div>

                                <!--Row-->
                                <div class="row">

                                    <div class="col-md-7">
                                        <p th:text="${item.ptDesc}">
                                        </p>
                                    </div>

                                
                                </div>
                                <!--end row-->
                            </div>
                            <!--end p-4-->
                            <div class="col-4 ts-map ts-map__detail ts-border-radius__sm ts-shadow__sm" id="ts-map-simple"
                                 data-ts-map-zoom="7"
                                 th:data-ts-map-Name="${item.ptName}"
                                 th:data-ts-map-center-latitude="${item.ptLatitude}"
                                 th:data-ts-map-center-longitude="${item.ptLongitude}"
                                 data-ts-map-scroll-wheel="0"
                                 data-ts-map-controls="0"></div>

                            <div class="col-7 ts-bg-light p-3 ts-border-radius__md d-block d-sm-flex ts-center__vertical justify-content-between ts-xs-text-center">
                                <p class="d-sm-inline-block mb-2 mb-sm-0" th:text="${shipCount+'건이 검색되었습니다'}"></p>
                               
                            </div>

                        </div>
                        <!--end col-md-8-->
                    </div>
                    <!--end row-->
                </div>
                <!--end ts-box-->

            </div>
            <!--end container-->
        </section>
        <!--end #agency-info-->

        <!--ITEMS LISTING & SEARCH
            =========================================================================================================-->
        <section id="items-listing-and-search">
            <div class="container">
                <div class="row flex-wrap-reverse">

                    <!--LEFT SIDE
                        =============================================================================================-->
                    <div class="col-md-8">

                        <!--PROPERTIES & AGENTS TABS
                            =========================================================================================-->
                        <section id="ships-mapPoint-tab" class="pb-2 mb-3">
                            <ul class="nav nav-tabs mb-1" id="login-register-tabs" role="tablist">

                                <!--Properties tab-->
                                <li class="nav-item">
                                    <a class="nav-link active" id="ships-tab" data-toggle="tab" href="#ships" role="tab" aria-controls="ships" aria-selected="true">
                                        <h3>배</h3>
                                    </a>
                                </li>

                                <!--Agents tab-->
                                <li class="nav-item">
                                    <a class="nav-link" id="mapPoint-tab" data-toggle="tab" href="#mapPoint" role="tab" aria-controls="mapPoint" aria-selected="false">
                                        <h3>주변 낚시포인트</h3>
                                    </a>
                                </li>

                            </ul>
                        </section>

                        <!--TAB CONTENT
                            =========================================================================================-->
                        <div class="tab-content">

                            <!--PROPERTIES TAB
                                =====================================================================================-->
                            <div class="tab-pane active" id="ships" role="tabpanel" aria-labelledby="ships-tab">

                                <!--DISPLAY CONTROL
                                    =================================================================================-->
                                <section id="display-control-items">
                                    <div class="clearfix">

                                        <!--Display selector on the left-->
                                        <div class="float-left">
                                            <a href="#" class="btn btn-outline-secondary px-3 mr-2 mb-2 ts-btn-border-muted">
                                                <i class="fa fa-th-large"></i>
                                            </a>
                                            <a href="#" class="btn btn-outline-secondary active px-3 mb-2 ts-btn-border-muted">
                                                <i class="fa fa-th-list"></i>
                                            </a>
                                        </div>

                                        <!--Display selector on the right-->
                                        <div class="float-none float-sm-right pl-2 ts-center__vertical">
                                            <label for="sorting" class="mb-0 mr-2 text-nowrap">Sort by:</label>
                                            <select class="custom-select bg-transparent" id="sorting" name="sorting">
                                                <option value="">Default</option>
                                                <option value="1">Price lowest first</option>
                                                <option value="2">Price highest first</option>
                                                <option value="3">Distance</option>
                                            </select>
                                        </div>

                                    </div>
                                    <!--end container-->
                                </section>

                                <!--ITEMS LISTING
                                    =================================================================================-->
                                <!-- <section id="items-listing"> -->
                                <section id="port_shipList">
                                    <!--Item-->
                                    <div class="card ts-item ts-item__list ts-card" th:each="shipList:${ships}">
                                        <a th:href="@{/v1/ship/shipDetail(spSeq=${shipList.spSeq})}">
                                            
                                            <!--Card Image-->
                                            <div class="card-img" th:data-bg-image="${shipList.path}"></div>

                                            <!--Card Body-->
                                            <div class="card-body">

                                                <figure class="ts-item__info">
                                                    <h4 th:text="${shipList.spName}"></h4>
                                                    <aside>
                                                        <i class="fa fa-ship"></i>
                                                        <span th:text="${#dates.format(shipList.spStart,'yyyy-MM-dd')}"></span>
                                                    </aside>
                                                </figure>

                                                <div class="ts-item__info-badge" th:text="${#numbers.formatInteger(shipList.spPrice,1,'COMMA') + ' 원'}">
                                                </div>

                                                <div class="ts-description-lists">
                                                    <dl>
                                                        <dt>대상해역</dt>
                                                        <dd th:text="${@codeService.selectOneCachedCode(shipList.spArea)}">제주</dd>
                                                    </dl>
                                                    <dl>
                                                        <dt>최대인원</dt>
                                                        <dd th:text="${shipList.spTotal}">10</dd>
                                                    </dl>
                                                    <dl>
                                                        <dt>예약가능인원</dt>
                                                        <dd th:text="${shipList.spRemain}">1</dd>
                                                    </dl>
                                                </div>
                                            </div>

                                            <!--Card Footer-->
                                            <div class="card-footer">
                                                <span class="ts-btn-arrow">자세히보기</span>
                                            </div>
                                        </a>
                                    </div>
                                </section>

                                <!--PAGINATION
                                    =================================================================================-->
                                <!-- <section id="pagination-items">
                                   <div class="container-fluid px-0 mt-2 mb-2">
										<div class="row">
											<div class="col">
												<ul class="pagination justify-content-center mb-0">
													<li th:if="${shipVo.startPage gt shipVo.pageNumToShow}" class="page-item" style="cursor: pointer;"><a class="page-link" href="javascript:goList(${shipVo.startPage - 1})" th:attr="onclick=|goList('${shipVo.startPage - 1}')|"><i class="bi bi-caret-left-fill"></i></a></li>
                                                    <li th:each="num: ${#numbers.sequence(shipVo.startPage, shipVo.endPage)}" th:classappend="${num eq shipVo.thisPage} ? active : ''" class="page-item" style="cursor: pointer;"><a class="page-link" th:attr="onclick=|goList('${num}')|" th:text="${num}"></a></li>
                                                    <li th:if="${shipVo.endPage ne shipVo.totalPages}" class="page-item" style="cursor: pointer;"><a class="page-link" th:attr="onclick=|goList('${shipVo.endPage + 1}')|"><i class="bi bi-caret-right-fill"></i></a></li>
												</ul>
											</div>
										</div>
									</div>
                                </section> -->
                                <section id="pagination-items">
                                    <div class="container-fluid px-0 mt-2 mb-2">
                                         <div class="row">
                                             <div class="col">
                                                 <ul class="pagination justify-content-center mb-0">
                                                     <li th:if="${shipVo.thisPage > 1}" class="page-item" style="cursor: pointer;"><a class="page-link" href="javascript:goList(${shipVo.thisPage - 1})" th:attr="onclick=|goList('${shipVo.thisPage - 1}')|"><i class="bi bi-caret-left-fill"></i></a></li>
                                                     <li th:each="num: ${#numbers.sequence(1, shipVo.totalPages)}" th:classappend="${num eq shipVo.thisPage} ? active : ''" class="page-item" style="cursor: pointer;"><a class="page-link" th:attr="onclick=|goList('${num}')|" th:text="${num}"><!-- ${i.index} --></a></li>
                                                     <li th:if="${shipVo.thisPage < shipVo.totalPages}" class="page-item" style="cursor: pointer;"><a class="page-link" th:attr="onclick=|goList('${shipVo.thisPage + 1}')|"><i class="bi bi-caret-right-fill"></i></a></li>
                                                 </ul>
                                             </div>
                                         </div>
                                     </div>
                                 </section>

                            </div>
                            <!--end #properties-->

                            <!--AGENTS TAB
                                =====================================================================================-->
                            <div class="tab-pane" id="mapPoint" role="tabpanel" aria-labelledby="mapPoint-tab">

                                <!--DISPLAY CONTROL
                                    =================================================================================-->
                                <section id="display-control-agents">
                                    <div class="d-flex justify-content-between">

                                        <!--Display selector on the left-->
                                        <!-- <div class="float-left">
                                             <a href="#" class="btn btn-outline-secondary active px-3 mr-2 mb-2 ts-btn-border-muted">
                                                <i class="fa fa-th-large"></i>
                                            </a>
                                            <a href="#" class="btn btn-outline-secondary px-3 mb-2 ts-btn-border-muted">
                                                <i class="fa fa-th-list"></i>
                                            </a> 
                                            
                                            
                                        </div> -->
                                        <p class="">주변 낚시포인트는 50km 범위내에 있는 데이터 입니다.</p>

                                        <!--Display selector on the right-->
                                        <div class="float-none float-sm-right pl-2 ts-center__vertical">
                                            <label for="sorting" class="mb-0 mr-2 text-nowrap">Sort by:</label>
                                            <select class="custom-select bg-transparent" id="sorting-agents" name="sorting">
                                                <option value="">Default</option>
                                                <option value="1">Name</option>
                                                <option value="2">Number of properties</option>
                                                <option value="3">Distance</option>
                                            </select>
                                        </div>

                                    </div>
                                    <!--end container-->
                                </section>

                                <!--AGENTS LISTING
                                    =================================================================================-->
                                <section id="mapPointList">
                                    <div class="row">

                                        <div class="col-sm-6" th:if="${#lists.isEmpty(mapPoint)}">
                                            <p>범위내의 낚시포인트의 데이터가 없습니다.</p>
                                        </div>
                                        <div class="col-md-6" th:each="mapPoint:${mapPoint}">
                                            <a th:href="@{/v1/mapPoint/mapPointDetail(mpSeq=${mapPoint.mpSeq})}" class="card ts-item ts-card">

                                                <!--Image-->
                                                <div class="ts-item__image ts-item card-img" th:data-bg-image="${mapPoint.path != null ? mapPoint.path : '/usr/v1/template/themeforest-v1.0/assets/img/FishOn_default.png'}">
                                                    <!-- <div class="ts-item__info-badge">
                                                        <span>28 Properties</span>
                                                    </div> -->
                                                    <figure class="ts-item__info mb-2 pt-2 pb-2">
                                                        <h4 th:text="${mapPoint.mpTitle}"></h4>
                                                        <aside>
                                                            <i class="fa fa-map-marker mr-2"></i>
                                                            <span th:text="${mapPoint.mpAddress}"></span>
                                                        </aside>
                                                    </figure>
                                                </div>

                                                <!--Body-->
                                                <div class="card-body">
                                                    <!-- <dl>
                                                        <dt>지역</dt>
                                                        <dd th:text="${#strings.substring(near.mpAddress, 0, near.mpAddress.indexOf(' '))}"></dd>
                                                        <dt>Email</dt>
                                                        <dd><a href="#">jane.harwood@example.com</a></dd>
                                                    </dl> -->
                                                    <dl class="mb-0">
                                                        <dt>지역</dt>
                                                        <dd th:text="${#strings.substring(mapPoint.mpAddress, 0, mapPoint.mpAddress.indexOf(' '))}"></dd>
                                                        <dt>대상어종</dt>
                                                        <dd th:text="${mapPoint.fsNameList}"></dd>
                                                        <dt>대상과의 거리</dt>
                                                        <dd th:text="${mapPoint.distanceIn >= 1000 ? #numbers.formatDecimal(mapPoint.distanceIn / 1000, 2, 2) + 'km' : #numbers.formatDecimal(mapPoint.distanceIn,2,0) + 'm'}"></dd>
                                                    </dl>
                                                </div>

                                                <!--Footer-->
                                                <div  class="card-footer">
                                                    <span class="ts-btn-arrow">자세히 보기</span>
                                                </div>

                                            </a>
                                        </div>
                                        <!--end col-md-3-->

                                    </div>
                                    <!--end row-->
                                </section>

                                <!--PAGINATION
                                    =================================================================================-->
                                <section id="pagination-items">
                                    <div class="container-fluid px-0 mt-2 mb-2">
                                        <div class="row">
                                            <div class="col">
                                                <ul class="pagination justify-content-center mb-0">
                                                    <li th:if="${mapPointVo.thisPage > 1}" class="page-item" style="cursor: pointer;"><a class="page-link" href="javascript:goList2(${mapPointVo.thisPage - 1})" th:attr="onclick=|goList2('${mapPointVo.thisPage - 1}')|"><i class="bi bi-caret-left-fill"></i></a></li>
                                                    <li th:each="num: ${#numbers.sequence(1, mapPointVo.totalPages)}" th:classappend="${num eq mapPointVo.thisPage} ? active : ''" class="page-item" style="cursor: pointer;"><a class="page-link" th:attr="onclick=|goList2('${num}')|" th:text="${num}"><!-- ${i.index} --></a></li>
                                                    <li th:if="${mapPointVo.thisPage < mapPointVo.totalPages}" class="page-item" style="cursor: pointer;"><a class="page-link" th:attr="onclick=|goList2('${mapPointVo.thisPage + 1}')|"><i class="bi bi-caret-right-fill"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </section>

                            </div>
                            <!--end #agents-->

                        </div>
                        <!--end tab-content-->


                        <hr class="my-5">

                       

                    </div>
                    <!--end col-md-8 / left side -->

                    <!--RIGHT SIDE (SIDEBAR)
                        =============================================================================================-->
                    <div class="col-md-4 navbar-expand-md">

                        <button class="btn bg-white mb-4 w-100 d-block d-md-none" type="button" data-toggle="collapse" data-target="#sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="float-left">
                                    <i class="fa fa-search mr-2"></i>
                                    Search
                                </span>
                            <span class="float-right">
                                    <i class="fa fa-plus small ts-opacity__30"></i>
                                </span>
                        </button>

                        <aside id="sidebar" class="ts-sidebar collapse navbar-collapse">

                            <!--SEARCH FORM
                                =====================================================================================-->
                            <section id="sidebar-search-form">

                                <h3 th:text="${shipVo.totalRows}+' 건의 검색'"></h3>

                                <form id="form-search" method="post" action="/v1/port/portDetail" name="formList" class="ts-form" autocomplete="off">
									<input type="hidden" name="thisPage" th:value="${shipVo.thisPage}" default="1"/>
									<input type="hidden" id="rowNumToShow" name="rowNumToShow" th:value="${shipVo.rowNumToShow}"/>
                                    <!--Keyword-->
                                    <div class="form-group">
                                        <label for="bedrooms">배이름</label>
                                        <input type="text" class="form-control" id="keyword" name="shName" th:value="${shipVo.shName}" placeholder="배이름검색">
                                    </div>

                                    <!--Type-->
                                    <div class="form-group">
                                         <select class="custom-select" id="status" name="shRemain" >
                                            <option value="">인원</option>
                                            <option th:selected ="${shipVo.shRemain == 1}" value="1">1명</option>
                                            <option th:selected ="${shipVo.shRemain == 2}" value="2">2명</option>
                                            <option th:selected ="${shipVo.shRemain == 3}" value="3">3명</option>
                                            <option th:selected ="${shipVo.shRemain == 4}" value="4">4명</option>
                                            <option th:selected ="${shipVo.shRemain == 5}" value="5">5명</option>
                                            <option th:selected ="${shipVo.shRemain == 6}" value="6">6명</option>
                                            <option th:selected ="${shipVo.shRemain == 7}" value="7">7명</option>
                                            <option th:selected ="${shipVo.shRemain == 8}" value="8">8명</option>
                                            <option th:selected ="${shipVo.shRemain == 9}" value="9">9명</option>
                                            <option th:selected ="${shipVo.shRemain == 10}" value="10">10명 이상</option>
                                        </select>
                                    </div>
                                    

                                    <!--Status-->
                                    <!-- <div class="form-group">
                                        <select class="custom-select" id="status" name="status">
                                            <option value="">Status</option>
                                            <option value="1">Rent</option>
                                            <option value="2">Sale</option>
                                        </select>
                                    </div> -->

                                    <!--Row - Min price & Max price-->
                                    <div class="row">

                                        <!--Min Price-->
                                        <div class="col-sm-6">
                                            <div class="input-group">
                                                <input type="text" class="form-control border-right-0" id="min-price" name="shmin_price" th:value="${shipVo.shmin_price}" placeholder="최소가격">
                                                <div class="input-group-append">
                                                    <span class="input-group-text bg-white border-left-0"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <!--Max Price-->
                                        <div class="col-sm-6">
                                            <div class="input-group">
                                                <input type="text" class="form-control border-right-0" id="max-price"name="shmax_price" th:value="${shipVo.shmax_price}" placeholder="최대가격">
                                                <div class="input-group-append">
                                                    <span class="input-group-text bg-white border-left-0"></span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    

                                    <!--Submit button-->
                                    <div class="form-group my-2">
                                        <button type="submit" class="btn btn-primary w-100" id="search-btn">Search
                                        </button>
                                    </div>

                                    <!--More Options Button-->
                                    <a href="#more-options-collapse" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="more-options-collapse">
                                        <i class="fa fa-plus-circle ts-text-color-primary mr-2"></i>
                                        날짜로검색
                                    </a>

                                    <!--Hidden Form-->
                                    <div class="collapse" id="more-options-collapse">

                                        <!--Padding-->
                                        <div class="py-4">

                                            <!--Row-->
                                            <div class="row">

                                                <!--Bedrooms-->
                                                <!--Bedrooms-->
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                       <label class="visually-hidden" for="inputDateStart">시작일</label>
														<input type="text" class="form-control" id="inputDateStart" name="shDateStart" th:value="${#strings.substring(shipVo.shDateStart, 0, 10)}" placeholder="날짜선택" value="">
                                                    </div>
                                                </div>

                                                <!--Bathrooms-->
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label class="visually-hidden" for="inputDateEnd">종료일</label>
														<input type="text" class="form-control" id="inputDateEnd" name="shDateEnd" th:value="${#strings.substring(shipVo.shDateEnd, 0, 10)}" placeholder="날짜선택" value="">
                                                    </div>
                                                </div>

                                            </div>

                                            </div>
                                            <!--end row-->

                                            <!--Checkboxes-->
                                            <!-- <div id="features-checkboxes" class="w-100">
                                                <h6 class="mb-3">Features</h6>

                                                <div class="ts-column-count-2">

                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="ch_1" name="features[]" value="ch_1">
                                                        <label class="custom-control-label" for="ch_1">Air
                                                            conditioning</label>
                                                    </div>

                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="ch_2" name="features[]" value="ch_2">
                                                        <label class="custom-control-label" for="ch_2">Bedding</label>
                                                    </div>

                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="ch_3" name="features[]" value="ch_3">
                                                        <label class="custom-control-label" for="ch_3">Heating</label>
                                                    </div>

                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="ch_4" name="features[]" value="ch_4">
                                                        <label class="custom-control-label" for="ch_4">Internet</label>
                                                    </div>

                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="ch_5" name="features[]" value="ch_5">
                                                        <label class="custom-control-label" for="ch_5">Microwave</label>
                                                    </div>

                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="ch_6" name="features[]" value="ch_6">
                                                        <label class="custom-control-label" for="ch_6">Smoking
                                                            allowed</label>
                                                    </div>

                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="ch_7" name="features[]" value="ch_7">
                                                        <label class="custom-control-label" for="ch_7">Terrace</label>
                                                    </div>

                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="ch_8" name="features[]" value="ch_8">
                                                        <label class="custom-control-label" for="ch_8">Balcony</label>
                                                    </div>

                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="ch_9" name="features[]" value="ch_9">
                                                        <label class="custom-control-label" for="ch_9">Iron</label>
                                                    </div>

                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="ch_10" name="features[]" value="ch_10">
                                                        <label class="custom-control-label" for="ch_10">Hi-Fi</label>
                                                    </div>

                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="ch_11" name="features[]" value="ch_11">
                                                        <label class="custom-control-label" for="ch_11">Beach</label>
                                                    </div>

                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="ch_12" name="features[]" value="ch_12">
                                                        <label class="custom-control-label" for="ch_12">Parking</label>
                                                    </div>

                                                </div>
                                                end ts-column-count-3

                                            </div> -->
                                            <!--end #features-checkboxes-->

                                        </div>
                                        <!--end Padding-->
                                    </div>
                                    <!--end more-options-collapse-->

                                </form>
                                <!--end #form-search-->
                            </section>
                            <!--end #sidebar-search-form-->

                            <!--MAP RESULTS
                                =====================================================================================-->
                            <!-- <section id="map-results">
                                <h3>Map Results</h3>

                                <div id="ts-map-simple" class="ts-sidebar-map"
                                     data-ts-map-leaflet-provider="https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}{r}.png"
                                     data-ts-map-zoom="12"
                                     data-ts-map-center-latitude="40.702411"
                                     data-ts-map-center-longitude="-73.556842"
                                     data-ts-map-scroll-wheel="1"
                                     data-ts-map-controls="0"></div>

                            </section> -->

                            <!--FEATURED PROPERTIES
                                =====================================================================================-->
                            <!-- <section id="featured-properties">
                                <h3>Featured Properties</h3>

                                <div class="owl-carousel" data-owl-dots="1">

                                    
                                    <div class="slide">
                                        <div class="card ts-item ts-card ts-item__lg ts-shadow__none">
                                            <a href="#" class="card-img" data-bg-image="/usr/v1/template/themeforest-v1.0/assets/img/img-item-thumb-01.jpg">
                                                <figure class="ts-item__info">
                                                    <h4>Big Luxury Apartment</h4>
                                                    <aside>
                                                        <i class="fa fa-map-marker mr-2"></i>
                                                        1350 Arbutus Drive
                                                    </aside>
                                                </figure>
                                                <div class="ts-item__info-badge">$350,000</div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="slide">
                                        <div class="card ts-item ts-card ts-item__lg ts-shadow__none">
                                            <a href="#" class="card-img" data-bg-image="/usr/v1/template/themeforest-v1.0/assets/img/img-item-thumb-02.jpg">
                                                <figure class="ts-item__info">
                                                    <h4>Cozy Design Studio</h4>
                                                    <aside>
                                                        <i class="fa fa-map-marker mr-2"></i>
                                                        4831 Worthington Drive
                                                    </aside>
                                                </figure>
                                                <div class="ts-item__info-badge">$125,000</div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="slide">
                                        <div class="card ts-item ts-card ts-item__lg ts-shadow__none">
                                            <a href="#" class="card-img" data-bg-image="/usr/v1/template/themeforest-v1.0/assets/img/img-item-thumb-03.jpg">
                                                <figure class="ts-item__info">
                                                    <h4>Family Villa</h4>
                                                    <aside>
                                                        <i class="fa fa-map-marker mr-2"></i>
                                                        4831 Worthington Drive
                                                    </aside>
                                                </figure>
                                                <div class="ts-item__info-badge">$45,900</div>
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </section> -->


                        </aside>
                        <!--end #sidebar-->
                    </div>
                    <!--end Right Side / col-md-4-->

                </div>
            </div>
        </section>

    </main>
    <!--end #ts-main-->

    <!--*********************************************************************************************************-->
    <!--************ FOOTER *************************************************************************************-->
    <!--*********************************************************************************************************-->

    <div th:replace="~{usr/v1/etc/footer :: page-footer}"></div> 
    <!--end #ts-footer-->

</div>
<!--end page-->
<script type="text/javascript">
    window.onload = function() {
        goList = function (thisPage) {
            const listContainer = document.getElementById('port_shipList');
            if (listContainer) {
                const listPosition = listContainer.getBoundingClientRect().top + window.pageYOffset; // 페이지 상단에서 요소까지의 거리
                window.scrollTo({
                    top: listPosition - 200, // 200px 위로 스크롤
                    behavior: 'smooth' // 부드럽게 스크롤
                });
            }
            const params = new URLSearchParams(window.location.search);

            const ptSeq = params.get('ptSeq');
            // document.querySelector("input[name=thisPage]").value = thisPage;
            $.ajax({
                url: '/portShipList', // 서버의 페이지네이션 엔드포인트
                type: 'post',
                contentType: 'application/json', // JSON 형식으로 데이터 전송
                data: JSON.stringify({ thisPage: thisPage ,port_ptSeq:ptSeq}),
                success: function(response) {

                    $('#port_shipList').empty(); 
                    $.each(response.shipList, function(index, ship) {
                        console.log("ship.port_ptSeq:",ship.port_ptSeq);
                        const areaMap = {
                            18: '동해',
                            19: '서해',
                            20: '제주'
                        };
                        const date = new Date(ship.spStart);
                        const formattedDate = `${date.getFullYear()}-${String(date.getMonth() + 1).padStart(2, '0')}-${String(date.getDate()).padStart(2, '0')}`;
                        const formattedPrice = new Intl.NumberFormat('ko-KR').format(ship.spPrice);
                        
                        var shipItem = `
                        <div class="card ts-item ts-item__list ts-card">
                            <a href="/v1/ship/shipDetail?spSeq=${ship.spSeq}">
                                <!--Ribbon-->
                                <div class="ts-ribbon">
                                    <i class="fa fa-thumbs-up"></i>
                                </div>
                                <div class="ts-ribbon-corner">
                                    <span>Updated</span>
                                </div>

                                <!--Card Image-->
                                <div class="card-img" data-bg-image="/usr/v1/template/themeforest-v1.0/assets/img/img-item-thumb-01.jpg" style="background-image: url('/usr/v1/template/themeforest-v1.0/assets/img/img-item-thumb-01.jpg');"></div>

                                <!--Card Body-->
                                <div class="card-body">

                                    <figure class="ts-item__info">
                                        <h4>${ship.spName}</h4>
                                        <aside>
                                            <i class="fa fa-ship"></i>
                                            <span>${formattedDate}</span>
                                        </aside>
                                    </figure>

                                    <div class="ts-item__info-badge">
                                        ${formattedPrice} 원
                                    </div>

                                    <div class="ts-description-lists">
                                        <dl>
                                            <dt>대상해역</dt>
                                            <dd>${areaMap[ship.spArea]}</dd>
                                        </dl>
                                        <dl>
                                            <dt>최대인원</dt>
                                            <dd>${ship.spTotal}</dd>
                                        </dl>
                                        <dl>
                                            <dt>예약가능인원</dt>
                                            <dd>${ship.spRemain}</dd>
                                        </dl>
                                    </div>
                                </div>

                                <!--Card Footer-->
                                <div class="card-footer">
                                    <span class="ts-btn-arrow">자세히보기</span>
                                </div>
                            </a>
                        </div>`;
                        $('#port_shipList').append(shipItem);
                    });
                    // 페이징 정보 업데이트
                    const paginationContainer = document.querySelector('#ships #pagination-items .pagination');
                    const index = '';
                    updatePagination(response.thisPage, response.totalPages,paginationContainer ,index);
                },
                error: function() {
                    alert('데이터를 불러오는 데 오류가 발생했습니다.');
                }
            });
        }
        goList2 = function (thisPage) {
            const listContainer = document.getElementById('mapPointList');
            if (listContainer) {
                const listPosition = listContainer.getBoundingClientRect().top + window.pageYOffset; // 페이지 상단에서 요소까지의 거리
                window.scrollTo({
                    top: listPosition - 200, // 200px 위로 스크롤
                    behavior: 'smooth' // 부드럽게 스크롤
                });
            }
            const params = new URLSearchParams(window.location.search);

            const ptSeq = params.get('ptSeq');
            console.log("ptSeq2:"+ptSeq);
            // document.querySelector("input[name=thisPage]").value = thisPage;
            $.ajax({
                url: '/portMapPointList', // 서버의 페이지네이션 엔드포인트
                type: 'post',
                contentType: 'application/json', // JSON 형식으로 데이터 전송
                data: JSON.stringify({ thisPage: thisPage ,ptSeq:ptSeq}),
                success: function(response) {

                    $('#mapPointList .row').empty(); 
                    $.each(response.mpPointList, function(index, mapPoint) {
                        var distance = mapPoint.distanceIn >= 1000 ? (mapPoint.distanceIn / 1000).toFixed(2) + 'km'  
                        : Math.floor(mapPoint.distanceIn) + 'm'; 
                        var shipItem = `
                        <div class="col-md-6">
                            <a href="/v1/mapPoint/mapPointDetail?mpSeq=${mapPoint.mpSeq}" class="card ts-item ts-card">
                               
                                <div class="ts-item__image ts-item card-img" data-bg-image="${mapPoint.path != null ? mapPoint.path : '/usr/v1/template/themeforest-v1.0/assets/img/FishOn_default.png'}" style="background-image: url(${mapPoint.path != null ? mapPoint.path : '/usr/v1/template/themeforest-v1.0/assets/img/FishOn_default.png'})">
                                    <figure class="ts-item__info pt-2 pb-2">
                                        <h4>${mapPoint.mpTitle}</h4>
                                        <aside>
                                            <i class="fa fa-map-marker mr-2"></i>
                                            <span>${mapPoint.mpAddress}</span>
                                        </aside>
                                    </figure>
                                </div>

                                <div class="card-body">
                                    <dl class="mb-0">
                                        <dt>지역</dt>
                                        <dd>${mapPoint.mpAddress.split(' ')[0]}</dd>
                                        <dt>대상어종</dt>
                                        <dd>${mapPoint.fsNameList}</dd>
                                        <dt>대상과의 거리</dt>
                                        <dd>${distance}</dd>
                                    </dl>
                                </div>

                                <div class="card-footer">
                                    <span class="ts-btn-arrow">자세히 보기</span>
                                </div>
                            </a>
                        </div>`;
                        $('#mapPointList .row').append(shipItem);
                    });
                    // 페이징 정보 업데이트
                    const paginationContainer =  document.querySelector('#mapPoint #pagination-items .pagination');
                    const index = '2';
                    updatePagination(response.thisPage, response.totalPages,paginationContainer,index);
                },
                error: function() {
                    alert('데이터를 불러오는 데 오류가 발생했습니다.');
                }
            });
        }
    }
</script>

<script type="text/javascript">				
	window.addEventListener('load', function() {	
		$.datetimepicker.setLocale('ko');
		$("#inputDateStart,#inputDateEnd").datetimepicker({
			timepicker:false,
			format:'Y-m-d'
		});	
	});
</script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const minPriceInput = document.getElementById('min-price');
        const maxPriceInput = document.getElementById('max-price');

        // Function to check if fields are filled and alert if needed
        function checkPrices() {
            if (minPriceInput.value === '') {
                alert('최소가격을 입력해주세요.');
                return false;
            } else if (maxPriceInput.value === '') {
                alert('최대가격을 입력해주세요.');
                return false;
            }
            return true;
        }

        const form = document.querySelector('form');
        if (form) {
            form.addEventListener('submit', function(event) {
                if (minPriceInput.value === '' && maxPriceInput.value === '') {
                    return true;
                } else if (!checkPrices()) {
                    event.preventDefault();
                }
            });
        }
    });
</script>

<script src="/usr/v1/template/themeforest-v1.0/assets/js/jquery-3.3.1.min.js"></script>
<script src="/usr/v1/template/themeforest-v1.0/assets/js/popper.min.js"></script>
<script src="/usr/v1/template/themeforest-v1.0/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/usr/v1/template/themeforest-v1.0/assets/js/owl.carousel.min.js"></script>
<!-- <script src="/usr/v1/template/themeforest-v1.0/assets/js/leaflet.js"></script> -->
<script src="/usr/v1/template/themeforest-v1.0/assets/js/custom.js"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=30e202c150f42daab8c05bb9a37caa8d&libraries=services,clusterer"></script>
<script src="/usr/v1/js/script.js"></script>
<script src="/usr/v1/js/map-kakao.js"></script>
<!-- <script src="/usr/v1/template/themeforest-v1.0/assets/js/map-leaflet.js"></script> -->

<!-- by developer -->
<script src="/xdm/v1/js/datetimepicker/jquery.datetimepicker.full.min.js"></script>

</body>
</html>

