<!doctype html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="ThemeStarz">

    <!--CSS -->
    <link rel="stylesheet" href="/usr/v1/template/themeforest-v1.0/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/usr/v1/template/themeforest-v1.0/assets/font-awesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/usr/v1/template/themeforest-v1.0/assets/css/leaflet.css">
    <link rel="stylesheet" href="/usr/v1/template/themeforest-v1.0/assets/css/style.css">

    <!-- dev --> 
    <link rel="stylesheet" href="/usr/v1/css/common.css">

	<title>FishOn - 피쉬온</title>
    <link rel="icon" href="/usr/v1/template/themeforest-v1.0/assets/img/favicon.ico">

</head>

<body>


    <div class="ts-page-wrapper ts-has-bokeh-bg" id="page-top">
        <div th:replace="~{usr/v1/etc/head :: page-header}"></div>

        <main id="ts-main">
            <section id="breadcrumb">
                <div class="container">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Library</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Data</li>
                        </ol>
                    </nav>
                </div>
            </section>
            <section id="page-title">
                <div class="container">

                    <div class="ts-title">
                        <h1>낚시포인트 상세</h1>
                    </div>

                </div>
            </section>
            <section id="agent-info">
                <div class="container">

                    <!--Box-->
                    <div class="ts-box ts-has-talk-arrow">

                        <!--Row-->
                        <div class="row">

                            <!--Brand-->
                            <div class="col-md-4 ts-center__both">
                                <div class="ts-circle__xxl ts-shadow__md" th:data-bg-image="${item.path != null ? item.path : '/usr/v1/template/themeforest-v1.0/assets/img/FishOn_default.png'}"></div>
                            </div>

                            <!--Description-->
                            <div class="col-md-8">

                                <div class="py-4">

                                    <!--Title-->
                                    <div class="ts-title mb-3">
                                        <h2 class="mb-1" th:text="${item.mpTitle}"></h2> 
                                        <h5>
                                            <i class="fa fa-sun-o mr-2"></i>
                                            <span th:text="${item.mpAddress}"></span>
                                            <input type="hidden" id="mapPoint_mpSeq" th:value="${item.mpSeq}">
                                        </h5>
                                    <a th:href="@{/v1/weather/weatherPoint(mpSeq=${item.mpSeq})}">
                                            <figure class="mb-1">
                                                <i class="fa fa-certificate"></i>
                                                <span th:text="${item.mpTitle}"></span>상세날씨
                                            </figure>
                                        </a>
                                    </div>

                                    <!--Row-->
                                    <div class="row">

                                        <div class="col-md-7">
                                            <p th:text="${item.mpText}">
                                            </p>
                                        </div>

                                        <div class="col-md-5 ts-opacity__50">

                                            <!--Phone-->
                                            <!-- <figure class="mb-1">
                                                <i class="fa fa-phone-square mr-2"></i>
                                                031-403-8217
                                            </figure> -->

                                            <!--Mail-->
                                            <!-- <figure class="mb-1">
                                                <i class="fa fa-envelope mr-2"></i>
                                                <a href="#">없음</a>
                                            </figure> -->

                                        </div>

                                    </div>
                                    <!--end row-->
                                </div>
                                <!--end p-4-->

                                <div class="ts-bg-light p-3 ts-border-radius__md d-block d-sm-flex ts-center__vertical justify-content-between ts-xs-text-center">
                                    <span class="d-sm-inline-block mb-2 mb-sm-0">대상어종: <span th:text="${item.fsNameList}"></span></span>
                                    <small>등록일 <span th:text="${#dates.format(item.mpRegDate,'yyyy-MM-dd')}"></span></small>
                                </div>

                            </div>
                            <!--end col-md-8-->
                        </div>
                        <!--end row-->
                    </div>
                    <!--end ts-box-->

                </div>
                <!--end container-->
            </section>
            <!--end #agent-info-->
            <section id="items-listing-and-search">
                <div class="container">
                    <div class="row flex-wrap-reverse">
                        <div class="col-md-8">
                            <h3 class="mb-4 pb-4">포인트 디테일 주소</h3>
                            <section id="map-results">

                                <div class="position-relative ts-border-radius__sm ts-shadow__sm">
                                    <div id="collapse-map" class="collapse show">
                                        <div class="ts-map ts-map__detail ts-border-radius__sm ts-shadow__sm" id="ts-map-simple"
                                            data-ts-map-zoom="6"
                                            th:data-ts-map-center-latitude="${item.mpLatitude}"
                                            th:data-ts-map-center-longitude="${item.mpLongitude}"
                                            data-ts-map-scroll-wheel="1"
                                            data-ts-map-controls="0"
                                            th:data-ts-map-Name="${item.mpTitle}"></div>
                                    </div>
                                    <a href="#collapse-map" class="d-block bg-white p-2 text-center text-dark" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapse-map">
                                        <i class="fa fa-map ts-opacity__20 mr-2"></i>
                                        지도 가리기
                                    </a>
                                </div>

                            </section>
                            <section id="display-control-agents">
                                <div class="clearfix">

                                    

                                </div>
                                <!--end container-->
                            </section>
                            <section id="near_mappoint">
                                <div class="d-flex justify-content-between">
                                    <h3 class="mb-2">주변 낚시포인트</h3>
                                    <p>주변 낚시포인트는 50km 범위내에 있는 데이터 입니다.</p>
                                </div>
                                <div class="row">
                                    <!--Item-->
                                    <div class="col-sm-6" th:if="${#lists.isEmpty(nearList)}">
                                        <p>범위내의 낚시포인트의 데이터가 없습니다.</p>
                                    </div>
                                    <div class="col-sm-6" th:each="near : ${nearList}">
                                        <a th:href="@{/v1/mapPoint/mapPointDetail(mpSeq=${near.mpSeq})}" class="card ts-item ts-card ts-item__lg">
                                            <!--Card Image-->
                                            <div class="card-img" th:data-bg-image="${near.path != null ? near.path : '/usr/v1/template/themeforest-v1.0/assets/img/FishOn_default.png'}">
                                                <figure class="ts-item__info">
                                                    <h4 th:text="${near.mpTitle}"></h4>
                                                    <aside>
                                                        <i class="fa fa-map-marker mr-2"></i>
                                                    <span th:text="${near.mpAddress}"></span>
                                                    </aside>
                                                </figure>
                                            </div>
                                            <!--Card Body-->
                                            <div class="card-body">
                                                <div class="ts-description-lists">
                                                    <dl>
                                                        <dt>지역</dt>
                                                        <dd th:text="${#strings.substring(near.mpAddress, 0, near.mpAddress.indexOf(' '))}"></dd>
                                                    </dl>
                                                    <dl>
                                                        <dt>대상어종</dt>
                                                        <dd th:text="${near.fsNameList}"></dd>
                                                    </dl>
                                                    <dl>
                                                        <dt>대상과의 거리</dt>
                                                        <dd th:text="${#numbers.formatDecimal(near.distanceIn/1000, 2,2) +'km'}"></dd>
                                                    </dl>
                                                </div>
                                            </div>

                                            <!--Card Footer-->
                                            <div class="card-footer">
                                                <span class="ts-btn-arrow">상세정보</span>
                                            </div>

                                        </a>
                                        <!--end ts-item-->
                                    </div>
                                    <!--end Item col-md-4-->
                                </div>
                                <!--end row-->
                            </section>
                                <section id="pagination-items">
                                    <div class="container-fluid px-0 mt-2 mb-2">
                                        <div class="row">
                                            <div class="col">
                                                <ul class="pagination justify-content-center mb-0">
                                                    <li th:if="${mapPointVo.thisPage > 1}" class="page-item" style="cursor: pointer;"><a class="page-link" href="javascript:goList(${mapPointVo.thisPage - 1})" th:attr="onclick=|goList('${mapPointVo.thisPage - 1}')|"><i class="bi bi-caret-left-fill"></i></a></li>
                                                    <li th:each="num: ${#numbers.sequence(1, mapPointVo.totalPages)}" th:classappend="${num eq mapPointVo.thisPage} ? active : ''" class="page-item" style="cursor: pointer;"><a class="page-link" th:attr="onclick=|goList('${num}')|" th:text="${num}"><!-- ${i.index} --></a></li>
                                                    <li th:if="${mapPointVo.thisPage < mapPointVo.totalPages}" class="page-item" style="cursor: pointer;"><a class="page-link" th:attr="onclick=|goList('${mapPointVo.thisPage + 1}')|"><i class="bi bi-caret-right-fill"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </section>

                        </div>
                        <!--end col-md-8 / left side -->
                        <div class="col-md-4 navbar-expand-md">
                            <button class="btn bg-white mb-4 w-100 d-block d-md-none" type="button" data-toggle="collapse" data-target="#sidebar" aria-controls="sidebar" aria-expanded="false"
                                    aria-label="Toggle navigation">
                                    <span class="float-left">
                                        <i class="fa fa-comment mr-2"></i>
                                    댓글
                                    </span>
                                <span class="float-right">
                                        <i class="fa fa-plus small ts-opacity__30"></i>
                                    </span>
                            </button>
                          
                            <aside id="sidebar" class="ts-sidebar collapse navbar-collapse">
                                <section id="review-form">
                                    <h2>댓글 작성</h2>

                                    <!--Form-->
                                    <form id="form-contact" method="post" class="clearfix ts-form ts-form-email" action="/v1/review/reviewXdmInst">
                                        <!--Message-->
                                        <div class="form-group">
                                            <textarea  class="form-control" id="mrComment" rows="4" name="mrComment" placeholder="댓글을 작성해주세요." required></textarea>
                                        </div>

                                        <!--Submit button-->
                                        <div class="form-group clearfix">
                                            <button type="button" onclick="insertComment(event)" class="btn btn-primary float-right" id="form-contact-submit">댓글 등록
                                            </button>
                                        </div>

                                        <div class="form-contact-status"></div>

                                    </form>
                                    <!--end form-contact -->

                                </section>
                                <section id="reviews">
                                	<div id="reviewsContainer">

                                        <!--Slide-->
                                        <div class="slide" th:each="rvList :${rvList}">
                                            <!--Review-->
                                            <div class="ts-box mb-4 ts-has-talk-arrow">
                                                <p class="mb-0" th:text="${rvList.mrComment}"></p>
                                                
                                            </div>
                                             <button type="button" onclick="deleteComment(event)" th:if="${session.sessSeqUsr == rvList.member_mmSeq}"><i class="fa fa-trash"></i></button>

                                            <!--Author-->
                                            <div class="mx-2 ts-center__vertical">
                                                <div class="ts-circle p-4 mr-3"></div>
                                                <div>
                                                    <h6 class="mb-0"><strong th:text="${rvList.mmName}"></strong></h6>
                                                    <input type="hidden" id="mrSeq" th:value="${rvList.mrSeq}">
                                                    
                                                    <small class="ts-opacity__30">
                                                        <i class="fa fa-map-marker" th:text="${rvList.mrRegDate}"></i>
                                                    </small>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <!--end slide-->
                                    <!--end owl-carousel-->
									</div>
									
                                </section>
                                

                            </aside>
                            <!--end #sidebar-->
                        </div>
                        <!--end Right Side / col-md-4-->

                    </div>
                </div>
            </section>

        </main>
        <!--end #ts-main-->

        <div th:replace="~{usr/v1/etc/footer :: page-footer}"></div> 
        <!--end #ts-footer-->

    </div>
    <!--end page-->

    <script src="/usr/v1/template/themeforest-v1.0/assets/js/jquery-3.3.1.min.js"></script>
    <script src="/usr/v1/template/themeforest-v1.0/assets/js/popper.min.js"></script>
    <script src="/usr/v1/template/themeforest-v1.0/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/usr/v1/template/themeforest-v1.0/assets/js/owl.carousel.min.js"></script>
    <script src="/usr/v1/template/themeforest-v1.0/assets/js/leaflet.js"></script>
    <script src="/usr/v1/template/themeforest-v1.0/assets/js/custom.js"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=30e202c150f42daab8c05bb9a37caa8d&libraries=services,clusterer"></script>
    <script src="/usr/v1/js/script.js"></script>
    <script src="/usr/v1/js/map-kakao.js"></script>
    <script type="text/javascript">
        window.onload = function() {
            goList = function (thisPage) {
                const listContainer = document.getElementById('near_mappoint');
                if (listContainer) {
                    const listPosition = listContainer.getBoundingClientRect().top + window.pageYOffset; // 페이지 상단에서 요소까지의 거리
                    window.scrollTo({
                        top: listPosition - 200, // 200px 위로 스크롤
                        behavior: 'smooth' // 부드럽게 스크롤
                    });
                }
                const params = new URLSearchParams(window.location.search);

                const mpSeq = params.get('mpSeq');
                // document.querySelector("input[name=thisPage]").value = thisPage;
                $.ajax({
                    url: '/nearMapPointList', // 서버의 페이지네이션 엔드포인트
                    type: 'post',
                    contentType: 'application/json', // JSON 형식으로 데이터 전송
                    data: JSON.stringify({ thisPage: thisPage ,mpSeq:mpSeq}),
                    success: function(response) {
                        console.log("response:",response);
                        console.log("response.data:",response.data);
                        console.log("thisPage:",response.thisPage);
                        console.log("totalPages:",response.totalPages);
                        // $('#near_mappoint .row').empty(); 
                        // $.each(response.mapPointList, function(index, mapPoint) {
                            
                        //     var shipItem = `
                        //     <div class="card ts-item ts-item__list ts-card">
                        //         <a href="/v1/ship/shipDetail?spSeq=${ship.spSeq}">
                        //             <!--Ribbon-->
                        //             <div class="ts-ribbon">
                        //                 <i class="fa fa-thumbs-up"></i>
                        //             </div>
                        //             <div class="ts-ribbon-corner">
                        //                 <span>Updated</span>
                        //             </div>

                        //             <!--Card Image-->
                        //             <div class="card-img" data-bg-image="/usr/v1/template/themeforest-v1.0/assets/img/img-item-thumb-01.jpg" style="background-image: url('/usr/v1/template/themeforest-v1.0/assets/img/img-item-thumb-01.jpg');"></div>

                        //             <!--Card Body-->
                        //             <div class="card-body">

                        //                 <figure class="ts-item__info">
                        //                     <h4>${ship.spName}</h4>
                        //                     <aside>
                        //                         <i class="fa fa-ship"></i>
                        //                         <span>${formattedDate}</span>
                        //                     </aside>
                        //                 </figure>

                        //                 <div class="ts-item__info-badge">
                        //                     ${formattedPrice} 원
                        //                 </div>

                        //                 <div class="ts-description-lists">
                        //                     <dl>
                        //                         <dt>대상해역</dt>
                        //                         <dd>${areaMap[ship.spArea]}</dd>
                        //                     </dl>
                        //                     <dl>
                        //                         <dt>최대인원</dt>
                        //                         <dd>${ship.spTotal}</dd>
                        //                     </dl>
                        //                     <dl>
                        //                         <dt>예약가능인원</dt>
                        //                         <dd>${ship.spRemain}</dd>
                        //                     </dl>
                        //                 </div>
                        //             </div>

                        //             <!--Card Footer-->
                        //             <div class="card-footer">
                        //                 <span class="ts-btn-arrow">자세히보기</span>
                        //             </div>
                        //         </a>
                        //     </div>`;
                        //     $('#port_shipList').append(shipItem);
                        // });
                        // // 페이징 정보 업데이트
                        // const paginationContainer = document.querySelector('#ships #pagination-items .pagination');
                        // const index = '';
                        // updatePagination(response.thisPage, response.totalPages,paginationContainer ,index);
                    },
                    error: function() {
                        alert('데이터를 불러오는 데 오류가 발생했습니다.');
                    }
                });
            }
        }
        
     // 댓글 삭제
	     function deleteComment(event) {
		  
	         var dDto = {
	             mrSeq: $("#mrSeq").val(),
	             mapPoint_mpSeq: $("#mapPoint_mpSeq").val()
	         };
	
	         $.ajax({
	             url: "/v1/review/reviewXdmDelt",  // 삭제 요청 URL
	             type: 'POST',
	             data: dDto,
	             success: function(result) {
	                 // 삭제 성공 후 댓글 목록 갱신
	                 getCommentList();
	             },
	             error: function() {
	                 alert('댓글 삭제 실패');
	             }
	         });
	     }
	
	     // 댓글 추가 함수
	     function insertComment(event) {
	         // 로그인 여부 확인
	         if (!$("#sessSeqUsr").val()) {
	             alert("로그인 후 이용하세요.");
	             return; // 함수 종료
	         }
             console.log($("#mrComment").val());
	         // 댓글 내용 입력 확인
	         if (!$("#mrComment").val().trim()||$("#mrComment").val()=="") {
	             alert("내용을 입력하세요.");
                 $("#mrComment").val("");
	         } else {
	             var bDto = {
	                 mapPoint_mpSeq: $("#mapPoint_mpSeq").val(),
	                 member_mmSeq: $("#sessSeqUsr").val(),
	                 mrComment: $("#mrComment").val()
	             };
	
	             $.ajax({
	                 url: "/v1/review/reviewXdmInst",  // 댓글 추가 요청 URL
	                 type: 'POST',
	                 data: bDto,
	                 success: function(result) {
	                     // 댓글 목록 새로 고침
	                     getCommentList();
	                     // 댓글 입력란 초기화
	                     $("#mrComment").val("");
	                 },
	                 error: function() {
	                     console.log("리뷰 등록 실패.");
	                 }
	             });
	         }
	     }
	
	     // 댓글 목록을 가져오는 함수
	     function getCommentList() {
	    	 $.ajax({
	    		    url: "/reviewList",  // 서버에서 리뷰 목록을 가져오는 URL
	    		    type: 'get',
	    		    dataType: 'json',
	    		    data: { 
	    		        "member_mmSeq": $("#sessSeqUsr").val(), 
	    		        "mapPoint_mpSeq": $("#mapPoint_mpSeq").val(),
	    		        "mpSeq" : $("#mapPoint_mpSeq").val()
	    		    },
	    		    success: function(response) {
	    		        var reviewsHtml = "";  // 댓글 HTML을 저장할 변수

	    		        // 서버에서 받은 댓글 데이터를 반복하여 HTML 생성
	    		        $.each(response.rvList, function(index, rvList) {
	    		            var date = new Date(rvList.mrRegDate);
	    		            var formattedDate = date.toLocaleString("ko-KR", {
	    		                year: 'numeric',
	    		                month: '2-digit',
	    		                day: '2-digit',
	    		                hour: '2-digit',
	    		                minute: '2-digit',
	    		                second: '2-digit',
	    		                hour12: false
	    		            });

	    		            reviewsHtml += `
	    		                <div class="slide">
	    		                    <div class="ts-box mb-4 ts-has-talk-arrow">
	    		                        <p class="mb-0">${rvList.mrComment}</p>
	    		                    </div>
	    		                    <button type="button" onclick="deleteComment(event)"><i class="fa fa-trash"></i></button>

	    		                    <div class="mx-2 ts-center__vertical">
	    		                        <div class="ts-circle p-4 mr-3"></div>
	    		                        <div>
	    		                            <h6 class="mb-0"><strong>${rvList.mmName}</strong></h6>
	    		                            <input type="hidden" id="mrSeq" value="${rvList.mrSeq}">
	    		                            <small class="ts-opacity__30">
	    		                                <i class="fa fa-map-marker">${formattedDate}</i>
	    		                            </small>
	    		                        </div>
	    		                    </div>
	    		                </div>
	    		            `;
	    		        });

// 	    		        #reviewsContainer의 .owl-carousel에 새로운 HTML 삽입
	    		        $("#reviewsContainer").html(reviewsHtml);

// 	    		        Owl Carousel 초기화
	    		        $("#reviewsContainer .owl-carousel").owlCarousel({
	    		            items: 1,
	    		            dots: true,
	    		            loop: true,
	    		            autoplay: true,
	    		            autoplayTimeout: 5000,
	    		            autoplayHoverPause: true
	    		        });
	    		    },
	    		    error: function() {
	    		        console.log("리뷰 목록 가져오기 실패.");
	    		    }
	    		});
	        
	     };
    </script>
</body>
</html>

