<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lalaping.infra.codegroup.CodeGroupDao">
<!-- namespace:mapper와 연결될 dao파일  -->
<!-- xml에서 주석 단축키 : ctrl + shift + c -->

	<resultMap type="com.lalaping.infra.codegroup.CodeGroupDto" id="resultMapObj"></resultMap>
	<sql id="selectCommon">
		FROM
			codegroup a
			<!-- left JOIN commoncode b ON b.codegroup_seq = a.seq -->
		WHERE 1=1
			<if test="shValue != null and !shValue.equals('')">
				<choose>
					<when test="shOption == null">
	                    AND(
							a.cgSeq Like CONCAT('%',#{shValue},'%')
							OR a.cgName Like CONCAT('%',#{shValue},'%')
						)
	                </when>
					<when test="shOption == 1 and shOption != null and shOption != ''">
					    AND a.cgSeq = #{shValue}
					</when>
					<when test="shOption == 2 and shOption != null and shOption != ''">
					    AND a.cgName LIKE CONCAT('%', #{shValue}, '%')
					</when>
				</choose>
			</if>
			<if test="shUseNy != null and !shUseNy.equals('')">
				AND a.cgUseNy = #{shUseNy}
			</if>
			<if test="shDelNy != null and !shDelNy.equals('')">
				AND a.cgDelNy = #{shDelNy}
			</if>
			<if test="( shDateStart != null and !shDateStart.equals('')) and ( shDateEnd != null and !shDateEnd.equals(''))">
				<choose>
					<when test="shOptionDate == 1"> AND a.cgRegDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
					<when test="shOptionDate == 2"> AND a.cgModDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
				</choose>
			</if>
			
	</sql>
	<select id="allList" resultMap="resultMapObj">
		SELECT
			a.cgSeq
			,a.cgName
			,a.cgDesc
			,a.cgOrder
			,(select count(aa.codegroup_cgSeq) from commoncode aa  where 1=1 and aa.codegroup_cgSeq = a.cgSeq) as cgCodeCount
			,a.cgUseNy
		    ,a.cgDelNy
			,a.cgRegDate
			,a.cgModDate
		FROM
			codegroup a
		ORDER BY
			a.cgOrder desc
	</select>
	<select id="selectList" resultMap="resultMapObj">
		<include refid="base.selectListUpperForMysql"/>
		SELECT
			a.cgSeq
			,a.cgName
			,a.cgDesc
			,a.cgOrder
			,(select count(aa.codegroup_cgSeq) from commoncode aa  where 1=1 and aa.codegroup_cgSeq = a.cgSeq) as cgCodeCount
			,a.cgUseNy
		    ,a.cgDelNy
			,a.cgRegDate
			,a.cgModDate
		<include refid="selectCommon"/>
		ORDER BY
			a.cgOrder desc
		<include refid="base.selectListLowerForMysql"/>
	</select>
	<select id="listCount" resultType="int">
        SELECT COUNT(*) 
        <include refid="selectCommon"/>
    </select>
    <insert id="insert">
    	INSERT INTO codegroup(
		cgName
	    ,cgOrder
	    ,cgDesc
	    ,cgUseNy
	    ,cgDelNy
	    ,cgRegDate
	    ,cgModDate

	)values(
		#{cgName}
		,#{cgOrder}
		,#{cgDesc}
		,#{cgUseNy}
		,0
		,now()
		,now()
	)
    </insert>
    <select id="selectOne" resultMap="resultMapObj">
    	SELECT
			a.cgSeq
			,a.cgName
			,a.cgDesc
			,a.cgOrder
			,a.cgUseNy
		    ,a.cgDelNy
			,a.cgRegDate
			,a.cgModDate
		FROM codegroup a 
		WHERE 1=1
		AND a.cgSeq = #{cgSeq}
    </select>
    <update id="update">
    	UPDATE codegroup 
		set
			cgName = #{cgName}
			,cgUseNy = #{cgUseNy}
			,cgOrder = #{cgOrder}
			,cgDesc = #{cgDesc}
			,cgModDate = now()
		WHERE 1=1
			AND cgSeq = #{cgSeq}
    </update>
    <update id="uelete">
		update codegroup
		set
			cgDelNy = 1
		where 1=1
			and cgSeq = #{cgSeq}
	</update>
	<delete id="delete">
		DELETE FROM codegroup
		where 1=1
			and cgSeq = #{cgSeq}
	</delete>
</mapper>		