<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lalaping.mall.fish.FishDao">
	<resultMap type="com.lalaping.mall.fish.FishDto" id="resultMapObj"></resultMap>
	
	<sql id="selectCommon">
<!--         FROM fish a -->
<!--         WHERE 1=1 -->
        <if test="shValue != null and !shValue.equals('')">
            <choose>
                <when test="shOption == null">
                    AND(
                        a.fsName LIKE CONCAT('%', #{shValue}, '%')
                    )
                </when>
                <when test="shOption == 1 and shOption != null and shOption != ''">
                    AND a.fsName = #{shValue}
                </when>
            </choose>
        </if>
        <if test="shDelNy != null and !shDelNy.equals('')">
            AND a.fsDelNy = #{shDelNy}
        </if>
        <if test="shSeason != null and !shSeason.equals('')">
            AND a.fsSeason = #{shSeason}
        </if>
        <if test="(shDateStart != null and !shDateStart.equals('')) and (shDateEnd != null and !shDateEnd.equals(''))">
        	<choose>
        		<when test="shOptionDate == 1"> AND a.fsRegDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
           	</choose>
        </if>
       
    </sql>
    
    <select id="listCount" resultType="int">
        SELECT COUNT(*) 
        <include refid="selectCommon"/>
    </select>
    <select id="selectList" resultMap="resultMapObj">
		<include refid="base.selectListUpperForMysql"/>
		SELECT
			a.fsSeq
			,a.fsName
			,a.fsSeason
			,a.fsDelNy
			,a.fsRegDate
			,b.fish_fsSeq
            ,GROUP_CONCAT(b.season_ssSeq ORDER BY a.fsSeq) AS seasons
        FROM fish a
		LEFT JOIN seasonandfish b 
		ON a.fsSeq = b.fish_fsSeq
		<include refid="selectCommon"/>
		group by
			a.fsSeq
		ORDER BY
	     	a.fsRegDate DESC
		<include refid="base.selectListLowerForMysql"/>
	</select>
	<!-- <select id="shipFishList" resultMap="resultMapObj">
		SELECT
			a.fsSeq
			,a.fsName
			,a.fsSeason
			,a.fsDelNy
			,a.fsRegDate
		FROM fish a
			join fishandship b on b.fish_fsSeq = a.fsSeq
            join ship c on c.spSeq = b.ship_spSeq
        WHERE 1=1
			and b.ship_spSeq = #{spSeq}
	 	ORDER BY
     		a.fsRegDate DESC

	</select> -->
	<select id="shipFishList" resultMap="resultMapObj">
		SELECT
			a.fsSeq
			,a.fsName
			,a.fsDelNy
            ,b.ship_spSeq
		FROM fishandship b
            join fish a on b.fish_fsSeq = a.fsSeq
        WHERE 1=1
	 	ORDER BY
     		a.fsRegDate DESC
	</select>
	<select id="allList" resultMap="resultMapObj">
		SELECT
			a.fsSeq
			,a.fsName
			,a.fsDelNy
            ,b.ship_spSeq
		FROM fishandship b
            join fish a on b.fish_fsSeq = a.fsSeq
        WHERE 1=1
	 	ORDER BY
     		a.fsRegDate DESC
	</select>
	<select id="allOneList" resultMap="resultMapObj">
		SELECT
			a.fsSeq
			,a.fsName
			,a.fsDelNy
            ,b.ship_spSeq
		FROM fishandship b
            join fish a on b.fish_fsSeq = a.fsSeq
        WHERE 1=1
        GROUP BY a.fsSeq
	 	ORDER BY
     		a.fsRegDate DESC
	</select>
	<insert id="insert">
		INSERT INTO fish(
			fsName
			,fsSeason
			,fsDelNy
			,fsRegDate
		)values(
			#{fsName}
			,#{fsSeason}
			,0
			,now()	
		)	
	</insert>
	
	<select id="selectOne">
		SELECT
			a.fsSeq
			,a.fsName
			,a.fsSeason
			,a.fsDelNy
			,a.fsRegDate
		FROM fish a
		WHERE 1=1
		AND fsSeq = #{fsSeq}
	</select>
	
	<update id="update">
		UPDATE fish
		SET
			fsName = #{fsName}
			,fsSeason = #{fsSeason}
		WHERE 1=1
		AND fsSeq = #{fsSeq}
	</update>
	
	<update id="uelete">
		UPDATE fish
		SET
			fsDelNy = 1
		WHERE 1=1
		AND fsSeq = #{fsSeq}
	</update>
	
	<delete id="delete">
		DELETE FROM fish
        WHERE 1=1
        AND fsSeq = #{fsSeq}
	</delete>
	
	<insert id="mappointFishInsert">
		INSERT INTO fishandmappoint(
			fsOrder
			,mapPoint_mpSeq
			,delNy
			,fish_fsSeq
		)values(
			#{fsOrder}
			,#{mapPoint_mpSeq}
			,0
			,#{fish_fsSeq}
		)	
	</insert>
	
</mapper>