<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lalaping.mall.fishMappoint.FishMappointDao">
<!-- namespace:mapper와 연결될 dao파일  -->
<!-- xml에서 주석 단축키 : ctrl + shift + c -->

	<resultMap type="com.lalaping.mall.fishMappoint.FishMappointDto" id="resultMapObj"></resultMap>
	<select id="FishMapOneSelectList" resultMap="resultMapObj">
		select 
			a.fish_fsSeq
			,a.mapPoint_mpSeq
			,a.delNy
			,a.fsOrder
			from
				fishandmappoint a 
				left join mappoint b on a.mapPoint_mpSeq = b.mpSeq
			where 1 = 1
				and b.mpSeq = #{mapPoint_mpSeq}
	</select>
	<insert id="mappointFishInsert">
		INSERT INTO fishandmappoint(
			fsOrder
			,mapPoint_mpSeq
			,delNy
			,fish_fsSeq
		)values(
			#{fsOrder}
			,#{mapPoint_mpSeq}
			,0
			,#{fish_fsSeq}
		)
	</insert>
	<update id="uelete">
		UPDATE fishandmappoint
		SET
		fsOrder = 0,
		delNy = 1
		WHERE 1=1
		AND mapPoint_mpSeq = #{mapPoint_mpSeq}
		AND fish_fsSeq = #{fish_fsSeq}
	</update>
	<update id="update">
		UPDATE fishandmappoint
		SET
		fsOrder = #{fsOrder},
		delNy = 0
		WHERE 1=1
		AND mapPoint_mpSeq = #{mapPoint_mpSeq}
		AND fish_fsSeq = #{fish_fsSeq}
	</update>
</mapper>
	