<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lalaping.infra.login.LoginDao">

	<resultMap type="com.lalaping.infra.member.StaffMemberDto"
		id="resultMapObj">
	</resultMap>
	
	<select id="selectStaffOneLogin" resultMap="resultMapObj">
		SELECT
		a.sfId
		,a.sfPasswd
		,a.sfName
		,a.sfSeq
		,a.sfDept
		FROM
		staffMember a
		WHERE
		a.sfId = #{sfId} AND a.sfPasswd = #{sfPasswd}
	</select>

</mapper>