<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lalaping.mall.order.OrderDao">

    <resultMap type="com.lalaping.mall.order.OrderDto" id="resultMapObj"></resultMap>
    
    <select id="CheckSelectOne">
    	SELECT
    		a.spSeq
    		,a.spName
    		,a.spStart
    		,a.spEatNy
    		,a.spRentalNy
    		,a.spRemain
    		,a.spPrice
    		,d.ptName
    		,d.ptAddress
   		FROM ship a
   		LEFT JOIN port d
		ON a.port_ptSeq = d.ptSeq
		WHERE 1=1
		AND a.spSeq = #{spSeq}
    </select>
    <insert id="insertOrder">
    	INSERT INTO orders(
    		odTotalPrice
    		,odCount
    		,odRegDate
    		,odModDate
    		,ship_spSeq
    		,member_mmSeq
    	)VALUES(
    		240000
    		,#{odCount}
    		,now()
    		,now()
    		,#{spSeq}
    		,#{mmSeq}
    	)
    </insert>
    
</mapper>