<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lalaping.mall.order.OrderDao">

    <resultMap type="com.lalaping.mall.order.OrderDto" id="resultMapObj"></resultMap>
    <sql id="selectCommon">
        FROM orders g
   		LEFT JOIN ship a
		ON g.ship_spSeq = a.spSeq
		WHERE 1=1
        <if test="shValue != null and !shValue.equals('')">
            <choose>
                <when test="shOption == null">
                    AND(
                        a.spName LIKE CONCAT('%', #{shValue}, '%')
                        OR g.odTotalPrice LIKE CONCAT('%', #{shValue}, '%')
                    )
                </when>
                <when test="shOption == 1 and shOption != null and shOption != ''">
                    AND a.spName = #{shValue}
                </when>
                <when test="shOption == 2 and shOption != null and shOption != ''">
                    AND g.odTotalPrice LIKE CONCAT('%', #{shValue}, '%')
                </when>
            </choose>
        </if>
        <if test="(shDateStart != null and !shDateStart.equals('')) and (shDateEnd != null and !shDateEnd.equals(''))">
        	<choose>
        		<when test="shOptionDate == 1"> AND g.odRegDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
           	</choose>
        </if>
       
    </sql>
    <select id="allListOrder" resultMap="resultMapObj">
    	SELECT
    		g.odSeq
    		,g.odCount
    		,g.odTotalPrice
    		,g.odReturnNy
    		,g.odRegDate
    		,g.ship_spSeq
    		,g.member_mmSeq
    		,a.spName
    		,a.spStart
    		,a.spSeq
    		,m.mmName
    		,m.mmEmail
    		,s.path
   		FROM orders g
   			LEFT JOIN ship a ON g.ship_spSeq = a.spSeq
   			left join member m on m.mmSeq = g.member_mmSeq
   			left join imginsert_ship s on s.pSeq = a.spSeq and s.sort = 1
		WHERE 1=1
    </select>
    <select id="allListOrderCount"  resultType="int">
    	SELECT COUNT(DISTINCT g.odSeq)
   		FROM orders g
   			LEFT JOIN ship a ON g.ship_spSeq = a.spSeq
   			left join member m on m.mmSeq = g.member_mmSeq
   			left join imginsert_ship s on s.pSeq = a.spSeq and s.sort = 1
		WHERE 1=1
    </select>
    <select id="CheckSelectOne" resultMap="resultMapObj">
    	SELECT
    		a.spSeq
    		,a.spName
    		,a.spStart
    		,a.spEatNy
    		,a.spRentalNy
    		,a.spRemain
    		,a.spPrice
    		,d.ptName
    		,d.ptAddress
   		FROM ship a
   		LEFT JOIN port d
		ON a.port_ptSeq = d.ptSeq
		WHERE 1=1
		AND a.spSeq = #{spSeq}
    </select>
    <insert id="insertOrder">
    	INSERT INTO orders(
    		odTotalPrice
    		,odCount
    		,odReturnNy
    		,odRegDate
    		,odModDate
    		,ship_spSeq
    		,member_mmSeq
    	)VALUES(
    		#{odTotalPrice}
    		,#{odCount}
    		,26
    		,now()
    		,now()
    		,#{spSeq}
    		,#{mmSeq}
    	)
    </insert>
    
    <select id="selectListOrder" resultMap="resultMapObj">
    	SELECT
    		g.odSeq
    		,g.odCount
    		,g.odTotalPrice
    		,g.odReturnNy
    		,g.odRegDate
    		,g.ship_spSeq
    		,g.member_mmSeq
    		,a.spName
    		,a.spStart
    		,a.spSeq
    		,s.path
   		FROM orders g
   		LEFT JOIN ship a
		ON g.ship_spSeq = a.spSeq
		left join imginsert_ship s
	 	 on s.pSeq = a.spSeq
		WHERE 1=1
		AND g.member_mmSeq = #{member_mmSeq}
		AND !(g.odReturnNy = 28)
		AND s.sort = 1
    </select>
    <select id="selectXdmListOrder" resultMap="resultMapObj">
    	<include refid="base.selectListUpperForMysql" />
    	SELECT
    		g.odSeq
    		,g.odCount
    		,g.odTotalPrice
    		,g.odReturnNy
    		,g.odRegDate
    		,g.ship_spSeq
    		,g.member_mmSeq
    		,a.spName
    		,a.spStart
    		,a.spSeq
   		<include refid="selectCommon"/>
   		ORDER BY
		g.odSeq Desc
		<include refid="base.selectListLowerForMysql" />
    </select>
    <select id="listCount" resultType="int">
		SELECT COUNT(DISTINCT g.odSeq)
		<include refid="selectCommon" />
	</select>
    
    <update id="ueleteOrder">
  		UPDATE orders
  		SET	
  			odModDate = now()
  			,odReturnNy = 27
		WHERE 1=1
		AND odSeq = #{odSeq}
    </update>
    
    <select id="selectListReturn" resultMap="resultMapObj">
    	SELECT
    		g.odSeq
    		,g.odCount
    		,g.odTotalPrice
    		,g.odReturnNy
    		,g.odRegDate
    		,g.odModDate
    		,g.ship_spSeq
    		,g.member_mmSeq
    		,a.spName
    		,a.spStart
    		,a.spSeq
    		,s.path
   		FROM orders g
   		LEFT JOIN ship a
		ON g.ship_spSeq = a.spSeq
		left join imginsert_ship s
	 	on s.pSeq = a.spSeq
		WHERE 1=1
		AND g.member_mmSeq = #{member_mmSeq}
		AND g.odReturnNy = 28
		AND s.sort = 1
    </select>
    
    <select id="orderList" resultMap="resultMapObj">
    	SELECT
    		g.odSeq
    		,g.odCount
    		,g.odTotalPrice
    		,g.odReturnNy
    		,g.odRegDate
    		,g.odModDate
    		,g.ship_spSeq
    		,g.member_mmSeq
    		,a.spName
    		,a.spStart
    		,a.spSeq
   		FROM orders g
   		LEFT JOIN ship a
		ON g.ship_spSeq = a.spSeq
		WHERE 1=1
		AND g.odReturnNy = #{odReturnNy}
    </select>
    <select id="orderListCount" resultType="int">
    	SELECT 
    		COUNT(DISTINCT g.odSeq)
   		FROM orders g
   		LEFT JOIN ship a
		ON g.ship_spSeq = a.spSeq
		WHERE 1=1
		AND g.odReturnNy = #{odReturnNy}
    </select>
    <select id="selectOne">
    	SELECT
    		g.odSeq
    		,g.odCount
    		,g.odTotalPrice
    		,g.odReturnNy
    		,g.odRegDate
    		,g.odModDate
    		,g.ship_spSeq
    		,g.member_mmSeq
    		,a.spName
    		,a.spStart
    		,a.spSeq
    	FROM orders g
    	LEFT JOIN ship a
		ON g.ship_spSeq = a.spSeq
		WHERE 1=1
		AND g.odSeq = #{odSeq}
    </select>
    
</mapper>