<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lalaping.mall.order.OrderDao">

    <resultMap type="com.lalaping.mall.order.OrderDto" id="resultMapObj"></resultMap>
    <select id="allListOrder" resultMap="resultMapObj">
    	SELECT
    		g.odSeq
    		,g.odCount
    		,g.odTotalPrice
    		,g.odReturnNy
    		,g.odRegDate
    		,g.ship_spSeq
    		,g.member_mmSeq
    		,a.spName
    		,a.spStart
    		,a.spSeq
    		,m.mmName
    		,m.mmEmail
    		,s.path
   		FROM orders g
   			LEFT JOIN ship a ON g.ship_spSeq = a.spSeq
   			left join member m on m.mmSeq = g.member_mmSeq
   			left join imginsert_ship s on s.pSeq = a.spSeq and s.sort = 1
		WHERE 1=1
    </select>
    <select id="CheckSelectOne" resultMap="resultMapObj">
    	SELECT
    		a.spSeq
    		,a.spName
    		,a.spStart
    		,a.spEatNy
    		,a.spRentalNy
    		,a.spRemain
    		,a.spPrice
    		,d.ptName
    		,d.ptAddress
   		FROM ship a
   		LEFT JOIN port d
		ON a.port_ptSeq = d.ptSeq
		WHERE 1=1
		AND a.spSeq = #{spSeq}
    </select>
    <insert id="insertOrder">
    	INSERT INTO orders(
    		odTotalPrice
    		,odCount
    		,odReturnNy
    		,odRegDate
    		,odModDate
    		,ship_spSeq
    		,member_mmSeq
    	)VALUES(
    		#{odTotalPrice}
    		,#{odCount}
    		,0
    		,now()
    		,now()
    		,#{spSeq}
    		,#{mmSeq}
    	)
    </insert>
    
    <select id="selectListOrder" resultMap="resultMapObj">
    	SELECT
    		g.odSeq
    		,g.odCount
    		,g.odTotalPrice
    		,g.odReturnNy
    		,g.odRegDate
    		,g.ship_spSeq
    		,g.member_mmSeq
    		,a.spName
    		,a.spStart
    		,a.spSeq
   		FROM orders g
   		LEFT JOIN ship a
		ON g.ship_spSeq = a.spSeq
		WHERE 1=1
		AND g.member_mmSeq = #{member_mmSeq}
		AND g.odReturnNy = 0
    </select>
    <update id="ueleteOrder">
  		UPDATE orders
  		SET	
  			odModDate = now()
  			,odReturnNy = 1
		WHERE 1=1
		AND odSeq = #{odSeq}
    </update>
    
    <select id="selectListReturn" resultMap="resultMapObj">
    	SELECT
    		g.odSeq
    		,g.odCount
    		,g.odTotalPrice
    		,g.odReturnNy
    		,g.odRegDate
    		,g.odModDate
    		,g.ship_spSeq
    		,g.member_mmSeq
    		,a.spName
    		,a.spStart
    		,a.spSeq
   		FROM orders g
   		LEFT JOIN ship a
		ON g.ship_spSeq = a.spSeq
		WHERE 1=1
		AND g.member_mmSeq = #{member_mmSeq}
		AND g.odReturnNy = 1
    </select>
    
</mapper>