<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lalaping.mall.port.PortDao">
	<resultMap type="com.lalaping.mall.port.PortDto" id="resultMapObj"></resultMap>
	
	<sql id="selectCommon">
        FROM port a
        	left join imginsert_port b on b.pseq = a.ptSeq and b.defaultNy = 1
        WHERE 1=1
        <if test="shValue != null and !shValue.equals('')">
            <choose>
                <when test="shOption == null">
                    AND(
                        a.ptName LIKE CONCAT('%', #{shValue}, '%')
                        OR a.ptAddress LIKE CONCAT('%', #{shValue}, '%')
                    )
                </when>
                <when test="shOption == 1 and shOption != null and shOption != ''">
                    AND a.ptName = #{shValue}
                </when>
                <when test="shOption == 2 and shOption != null and shOption != ''">
                    AND a.ptAddress LIKE CONCAT('%', #{shValue}, '%')
                </when>
            </choose>
        </if>
        <if test="shDelNy != null and !shDelNy.equals('')">
            AND a.ptDelNy = #{shDelNy}
        </if>
        <if test="shPtArea != null and !shPtArea.equals('')">
            AND a.ptArea = #{shPtArea}
        </if>
        <if test="shPtName != null and !shPtName.equals('')" >
        	AND a.ptName LIKE CONCAT('%', #{shPtName}, '%')
        </if>
        <if test="(shDateStart != null and !shDateStart.equals('')) and (shDateEnd != null and !shDateEnd.equals(''))">
        	<choose>
        		<when test="shOptionDate == 1"> AND a.ptRegDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
           	</choose>
        </if>
       
    </sql>
    <select id="selectList" resultMap="resultMapObj">
		<include refid="base.selectListUpperForMysql"/>
		SELECT
			a.ptSeq
			,a.ptArea
			,a.ptName
			,a.ptDesc
			,a.ptAddress
			,a.ptLatitude
			,a.ptLongitude
			,a.ptDelNy
			,a.ptRegDate
			,b.path
		<include refid="selectCommon"/>
	 ORDER BY
     	a.ptRegDate DESC
		<include refid="base.selectListLowerForMysql"/>
	</select>
	<insert id="insert">
		INSERT INTO port(
			ptArea
			,ptName
			,ptDesc
			,ptAddress
			,ptLatitude
			,ptLongitude
			,ptDelNy
			,ptRegDate
		)values(
			#{ptArea}
			,#{ptName}
			,#{ptDesc}
			,#{ptAddress}
			,#{ptLatitude}
			,#{ptLongitude}
			,0
			,now()	
		)	
	</insert>
	<select id="selectOne">
		SELECT
			a.ptSeq
			,a.ptArea
			,a.ptName
			,a.ptDesc
			,a.ptAddress
			,a.ptLatitude
			,a.ptLongitude
			,a.ptDelNy
			,a.ptRegDate
			,b.path
		FROM port a
			left join imginsert_port b on b.pseq = a.ptSeq and b.defaultNy = 1
		WHERE 1=1
		AND a.ptSeq = #{ptSeq}
	</select>
	<update id="update">
		UPDATE port
		SET
			ptArea = #{ptArea}
			,ptName = #{ptName}
			,ptDesc = #{ptDesc}
			,ptAddress = #{ptAddress}
		WHERE 1=1
		AND ptSeq = #{ptSeq}
	</update>
	<update id="uelete">
		UPDATE port
		SET
			ptDelNy = 1
		WHERE 1=1
		AND ptSeq =#{ptSeq}
	</update>
	<delete id="delete">
		DELETE FROM port
        WHERE ptSeq = #{ptSeq}
	</delete>
	
	<select id="selectOneCount">
	select count(*)
	<include refid="selectCommon"></include>
	</select>
	<insert id="insertUploaded">
		insert into imginsert_port(
		type
		,defaultNy
		,sort
		,path
		,originalName
		,uuid
		,ext
		,size
		,regDate
		,modDate
		,delNy
		,pseq
		) value(
		#{type}
		,#{defaultNy}
		,#{sort}
		,#{path}
		,#{originalName}
		,#{uuid}
		,#{ext}
		,#{size}
		,now()
		,now()
		,0
		,#{pseq}
		)
		<selectKey resultType="String" keyProperty="ptSeq"
			order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
    
</mapper>