<th:block th:fragment="list-link">
    <div class="btn-toolbar mt-5 justify-content-between">
        <div></div>
        <div>
            <a th:href="${formLink}" class="btn btn-info"><i class="bi bi-plus-lg"></i></a>
        </div>
    </div>
</th:block>
<!-- <th:block th:fragment="not-list-link">
    <div class="btn-toolbar mt-5 justify-content-between">
        <div>
            <a href="javascript:void(0);" class="btn btn-danger"><i class="bi bi-x-lg"></i></a>
            <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal"><i class="bi bi-trash"></i></button>
        </div>
    </div>
</th:block> -->
<th:block th:fragment="form-link">
    <div class="btn-toolbar mt-5 justify-content-between">
        <div>
            <a class="btn btn-outline-dark" type="button" th:href="${listLink}"><i class="bi bi-list-ul"></i></a>
        </div>
        <div>
            <button type="button" id="btnSubmit" class="btn btn-info" ><i class="bi bi-database"></i></button>
        </div>
    </div>
</th:block>
<th:block th:fragment="mform-link">
    <div class="btn-toolbar mt-5 justify-content-between">
        <div>
            <a class="btn btn-outline-dark" type="button" th:href="${listLink}"><i class="bi bi-list-ul"></i></a>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal"><i class="bi bi-x-lg"></i></button>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#ueleteModal"><i class="bi bi-trash"></i></button>
        </div>
        <div>
            <button type="button" id="btnSubmit" class="btn btn-info" ><i class="bi bi-database"></i></button>
        </div>
    </div>
</th:block>