<!doctype html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="ThemeStarz">

    <!--CSS -->
    <link rel="stylesheet" href="/usr/v1/template/themeforest-v1.0/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/usr/v1/template/themeforest-v1.0/assets/font-awesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/usr/v1/template/themeforest-v1.0/assets/css/leaflet.css">
    <link rel="stylesheet" href="/usr/v1/template/themeforest-v1.0/assets/css/style.css">

    <!-- dev -->
    <link rel="stylesheet" href="/usr/v1/css/common.css">

    <title>FishOn - 피쉬온</title>
    <link rel="icon" href="/usr/v1/template/themeforest-v1.0/assets/img/favicon.ico">

</head>
<body>
<div class="ts-page-wrapper ts-has-bokeh-bg" id="page-top">
    <div th:replace="~{usr/v1/etc/head :: page-header}"></div>
    <main id="ts-main">
        <section id="page-title">
            <div class="container">
                <div class="ts-title">
                    <h1>내정보수정</h1>
                </div>
            </div>
        </section>
        <section id="contact-form">
            <div class="container">
                <div class="row">
                    <div th:replace="~{usr/v1/etc/userSide :: side}"></div>
                    <div class="col-md-8">
                        <h3>내정보 수정</h3>
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label for="form-contact-name">이름</label>
                                  <p class="ts-text-color-black" th:text="${item.mmName}"><p>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label for="form-contact-birthDay">생년월일</label>
                                    <p class="ts-text-color-black" th:text="${#dates.format(item.mmBirthDay,'yyyy년MM월dd일')}"><p>
                                </div>
                            </div>
                        </div>
                        <form class="row ts-form user_info_form" method="post" autocomplete="off" action="/memberUpdate">
                            <input type="hidden" id="mmSeq" name="mmSeq" th:value="${item.mmSeq}">
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group edit_info">
                                    <label for="form-contact-email">이메일</label>
                                    <div>
                                        <input type="text" class="form-control validate-this valid-email" id="form-contact-email" name="mmEmail" th:value="${item.mmEmail}" placeholder="변경할 이메일명" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group edit_info">
                                    <label for="form-contact-tel">전화번호</label>
                                    <div>
                                        <input type="tel" class="form-control validate-this valid-phone-num" id="form-contact-tel" name="mmTel" th:value="${item.mmTel}" placeholder="변경할 전화번호" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group clearfix">
                                <button type="button" class="btn btn-primary" id="user_info_submit">
                                    변경하기
                                </button>
                            </div>
                        </form>
                        <hr class="my-5">
                        <div>
                            <h3>비밀번호 변경</h3>
                            <form id="password_edit_form" class="password_edit_form" method="post" autocomplete="off" action="/passWdUpdate">
                                <div class="row">
                                    <div class="mb-4 col-md-6 col-sm-12 passWd_input" id="passWdChk">
                                        <label class="form-label">현재 비밀번호</label>
                                        <div>
                                            <input type="password" id="input_mmPasswdChk" class="form-control validate-this valid-userPasswordCk" placeholder="현재 비밀번호를 입력해주세요" name="mmPasswdChk">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="mb-4 col-md-6 col-sm-12 passWd_input">
                                        <label class="form-label">새로운 비밀번호설정</label>
                                        <div>
                                            <input type="password" id="input_mmPasswd" class="form-control validate-this valid-password" placeholder="변경할 비밀번호를 입력력해주세요" name="mmPasswd">
                                        </div>
                                    </div>
                                    <div class="mb-4 col-md-6 col-sm-12 passWd_input">
                                        <label class="form-label">새로운 비밀번호 재입력</label>
                                        <div>
                                            <input type="password" class="form-control validate-this valid-passwordCk" placeholder="변경할 비밀번호를 재입력력해주세요">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button type="button" class="btn btn-primary" id="password_submit">
                                        비밀번호 변경
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main> 
    <div th:replace="~{usr/v1/etc/footer :: page-footer}"></div>
</div>
<script src="/usr/v1/template/themeforest-v1.0/assets/js/jquery-3.3.1.min.js"></script>
<script src="/usr/v1/template/themeforest-v1.0/assets/js/popper.min.js"></script>
<script src="/usr/v1/template/themeforest-v1.0/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/usr/v1/template/themeforest-v1.0/assets/js/leaflet.js"></script>
<script src="/usr/v1/template/themeforest-v1.0/assets/js/custom.js"></script>
<script src="/usr/v1/js/script.js"></script>
<script src="/usr/v1/template/themeforest-v1.0/assets/js/map-leaflet.js"></script>
<script>
    window.addEventListener('load', function() {
        const inputNullText = "내용을 적어주세요.";
        const selectNullText = "내용을 선택해주세요.";
        const userInfo = document.getElementById("user_info_submit");
        const passwordSubmit = document.getElementById("password_submit");

        userInfo.onclick = function (){
            var objs = document.querySelectorAll(".validate-this");
            var i= 0;
            var validateChk = [];
            for(let element of objs){
                var objValue = element.value.trim();
                let elementBox;
                if(element.closest("td")){
                    elementBox = element.closest("td");
                }else if (element.closest("li")) {
                    elementBox = element.closest("li");
                }else if (element.closest(".edit_info")) {
                    elementBox = element.closest(".edit_info");
                }
                const feedbackBox = document.createElement("div");
                const feedbackChild = document.createElement("div");
                const feedbackinner = document.createElement("div");
                feedbackBox.className  = "invalid-box mb-3";
                feedbackChild.className  = "invalid-child";
                feedbackinner.className  = "invalid-feedback";
                feedbackinner.id  = "invalid-feedback_"+i;
                feedbackBox.appendChild(feedbackChild);
                feedbackBox.appendChild(feedbackinner);
                elementBox.appendChild(feedbackBox);
                const feedbackChk = elementBox.querySelector(".invalid-child");
                const feedback = elementBox.querySelector(".invalid-feedback");
                if (objValue == "" || objValue == null) {
                    if(element.tagName ==='INPUT'){
                        feedback.textContent = inputNullText;
                    }else if(element.tagName ==='SELECT'){
                        feedback.textContent = selectNullText;
                    }
                    if(i==0){
                        element.focus();
                    }
                    validateChk[i] = false;
                    i++;
                    element.classList.add('is-invalid');
                    feedbackChk.classList.add('is-invalid');
                } else {
                    //by pass
                    var val  = RegExps(element,objValue,feedback);
                    if(val == true){
                        validateChk[i] = true;
                        i++;
                        element.classList.remove('is-invalid');
                        element.classList.add('is-valid');
                        feedbackChk.classList.remove('is-invalid');
                    }else{
                        if(i==0){
                            element.focus();
                        }
                        validateChk[i] = false;
                        i++;
                        element.classList.add('is-invalid');
                        feedbackChk.classList.add('is-invalid');
                    }
                    
                }
            };
            if(validateChk == false){
                return false;
            }
            userInfo.closest(".user_info_form").submit();
        }
        function handleSubmit(){
            var objs = document.getElementById("password_edit_form").querySelectorAll(".validate-this");
            var i= 0;
            var validateChk = [];
            for(let element of objs){
                var objValue = element.value.trim();
                let elementBox;
                if(element.closest("td")){
                    elementBox = element.closest("td");
                }else if (element.closest("li")) {
                    elementBox = element.closest("li");
                }else if (element.closest(".passWd_input")) {
                    elementBox = element.closest(".passWd_input");
                }
                const invalidBoxChk = elementBox.querySelector(".invalid-box");
                if(invalidBoxChk){
                    elementBox.querySelector(".invalid-box").remove();
                }
                const feedbackBox = document.createElement("div");
                const feedbackChild = document.createElement("div");
                const feedbackinner = document.createElement("div");
                feedbackBox.className  = "invalid-box mb-3";
                feedbackChild.className  = "invalid-child";
                feedbackinner.className  = "invalid-feedback";
                feedbackinner.id  = "invalid-feedback_"+i;
                feedbackBox.appendChild(feedbackChild);
                feedbackBox.appendChild(feedbackinner);
                elementBox.appendChild(feedbackBox);
                const feedbackChk = elementBox.querySelector(".invalid-child");
                const feedback = elementBox.querySelector(".invalid-feedback");
                if (objValue == "" || objValue == null) {
                    if(element.tagName ==='INPUT'){
                        feedback.textContent = inputNullText;
                    }else if(element.tagName ==='SELECT'){
                        feedback.textContent = selectNullText;
                    }
                    if(i==0){
                        element.focus();
                    }
                    validateChk[i] = false;
                    i++;
                    element.classList.add('is-invalid');
                    feedbackChk.classList.add('is-invalid');
                } else {
                    //by pass
                    var val  = RegExps(element,objValue,feedback);
                    if(val == true){
                        validateChk[i] = true;
                        i++;
                        element.classList.remove('is-invalid');
                        element.classList.add('is-valid');
                        feedbackChk.classList.remove('is-invalid');
                    }else{
                        if(i==0){
                            element.focus();
                        }
                        validateChk[i] = false;
                        i++;
                        element.classList.add('is-invalid');
                        feedbackChk.classList.add('is-invalid');
                    }
                }
            };
            if(validateChk.includes(false)){
                return false;
            }
            // userInfo.closest(".password_edit_form").submit();
            console.log("action:",passwordSubmit.closest("form").action);
            $.ajax({
                async: true 
                ,cache: false
                ,type: "post"
                ,url: passwordSubmit.closest("form").action
                ,data : { 
                    "mmPasswdChk" : document.getElementById("input_mmPasswdChk").value.trim(),
                    "mmPasswd" : document.getElementById("input_mmPasswd").value.trim(),
                }
                ,success: function(response) {
                    if(response.rt == "success") {
                        alert("비밀번호 변경 성공!");
                        window.location.href = "/v1/member/editMember";
                    } else {
                        document.getElementById("passWdChk").querySelector(".invalid-feedback").textContent = "현재 비밀번호가 틀렸습니다. 다시 입력해주세요.";
                        document.getElementById("input_mmPasswdChk").classList.add('is-invalid');
                    }
                }
                ,error : function(jqXHR, textStatus, errorThrown){
                    alert("비밀번호 변경에서 " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
                }
            });
        }
        document.getElementById("password_edit_form").addEventListener("keydown", function (event) {
            if (event.key === "Enter") {
                event.preventDefault(); // 기본 동작 방지 (폼 제출 등)
                handleSubmit();
            }
        }); 
        passwordSubmit.onclick = handleSubmit;
        
    })
</script>
</body>
</html>
