<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="ThemeStarz">

    <!--CSS -->
    <link rel="stylesheet" href="/usr/v1/template/themeforest-v1.0/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/usr/v1/template/themeforest-v1.0/assets/font-awesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/usr/v1/template/themeforest-v1.0/assets/css/leaflet.css">
    <link rel="stylesheet" href="/usr/v1/template/themeforest-v1.0/assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.12/css/weather-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.12/css/weather-icons-wind.min.css" integrity="sha512-Ydyj0LLrJGMf7yUSU+QxZE4Pu/jVIutpdTOAozUrzZMslo+vLMX64rghLxEs+AKpN+GmnVNgXoeLlMwSqtyjPw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- dev -->
    <link rel="stylesheet" href="/usr/v1/css/common.css">

    <title>FishOn - 피쉬온</title>
    <link rel="icon" href="/usr/v1/template/themeforest-v1.0/assets/img/favicon.ico">
    <style>
        .ts-page-wrapper {
            overflow-x: visible;
        }
    </style>
</head>
<body>
<div class="ts-page-wrapper ts-has-bokeh-bg" id="page-top">
    <div th:replace="~{usr/v1/etc/head :: page-header}"></div>
    <main id="ts-main">
        <section id="page-title">
            <div class="container">
                <div class="ts-title">
                    <h1>포인트 날씨</h1>
                </div>
            </div>
        </section>
        <section id="map-address">
            <div class="container mb-5">
                <div class="ts-contact-map ts-map ts-shadow__sm position-relative">
                    <address class="position-absolute ts-bottom__0 ts-left__0 text-white m-3 p-4 ts-z-index__2" data-bg-color="rgba(0,0,0,.8)">
                        <strong th:text="${item.mpTitle}"></strong><br>
                        <span th:text="${item.mpAddress}"></span>
                    </address>
                    <div class="ts-map h-100 ts-z-index__1" id="ts-map-simple"
                        data-ts-map-zoom="8"
                        th:data-ts-map-center-latitude="${item.mpLatitude}"
                        th:data-ts-map-center-longitude="${item.mpLongitude}"
                        data-ts-map-scroll-wheel="0"
                        data-ts-map-controls="0"
                        th:data-ts-map-Name="${item.mpTitle}"></div>
                </div>
            </div>
        </section>
        <section id="weather_wrapper" class="weather_wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <div class="sticky-top weather_menu">
                            <h3 th:text="${item.mpTitle}">물왕저수지</h3>
                            <p th:text="${item.mpAddress}">
                                경기 시흥시 동서로857번길 28-13 (물왕동)
                            </p>
                            <ul class="nav nav-pills flex-column" >
                                <li class="nav-item" th:if="${item.mpType == 5}" data-link="main_weather">
                                    <a class="nav-link" id="main-tab" href="javascript:void(0)">
                                        <h3>물 때표</h3>
                                    </a>
                                </li>
                                <li class="nav-item" th:if="${item.mpType == 5}" data-link="sea_weather">
                                    <a class="nav-link" id="sea-tab" href="javascript:void(0)">
                                        <h3>바다 날씨</h3>
                                    </a>
                                </li>
                                <li class="nav-item" data-link="local_weather">
                                    <a class="nav-link" id="local-tab" href="javascript:void(0)">
                                        <h3>지역 날씨</h3>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- <div class="col-md-10" data-bs-spy="scroll" data-bs-offset="0" tabindex="0"> -->
                    <div class="col-md-10">
                        <h3>날씨 정보</h3>
                        <div id="weather_area" class="weather_area">
                            <div class="" id="main_weather" th:if="${item.mpType == 5}">
                                <h4 class="mb-3">물때 표</h4>
                                <p>기준: <span class="obs_name"></span> 1주단위로 나옵니다.</p>
                                <table class="table tideTable" id="tideTable">
                                    <thead>
                                        <tr>
                                            <th>년도 / 월 / 일 (요일)</th>
                                            <th>월령</th>
                                            <th>물때 / 물흐름</th>
                                            <th>만조시각</th>
                                            <th>간조시각</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td >
                                                <p><span>2024</span>-<span>10</span>-<span>9</span> (<span>월</span>)</p>
                                            </td>
                                            <td>
                                                <div>
                                                    <img src="/usr/v1/template/themeforest-v1.0/assets/img/moon_09.png" alt="달이미지">
                                                </div>
                                            </td>
                                            <td>
                                                <div>
                                                    <p><span>무시</span></p>
                                                    <div class="water_flow">
                                                        <div class="progress" style="height: 30px;">
                                                            <div id="waterFlow" class="progress-bar progress-bar-striped progress-bar-animated progress-bar-water" role="progressbar" style="width: 0%; background-color: aqua;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                    </div>
    
                                                </div>
                                            </td>
                                            <td class="highTideTime" id="highTideTime">
                                                <div>
                                                </div>
                                            </td>
                                            <td class="lowTideTime" id="lowTideTime">
                                                <div>
                                                    <p><span>02:38</span> <span>(264)</span> ▼-<span>511</span></p>
                                                    <p><span>14:35</span> <span>(178)</span> ▼-<span>466</span></p>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row sea_weather" id="sea_weather" th:if="${item.mpType == 5}">
                                <h4 class="mb-3">바다 날씨</h4>
                                <p th:text="${longTerm.seaName}"></p>
                                <table class="table ">
                                    <tr>
                                        <th colspan="2">구분</th>
                                        <th>날씨</th>
                                        <th>풍향</th>
                                        <th>풍속</th>
                                        <th>파고</th>
                                    </tr>
                                    <tr th:each="shortTerm:${shortTerm}">
                                        <td>
                                            <div>
                                                <div >
                                                    <span th:text="${#dates.format(shortTerm.fcstDate, 'M/d') + '(' + #dates.format(shortTerm.fcstDate, 'E') + ')'}"></span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <table class="w-100 border-0">
                                                <tr>
                                                    <td>
                                                        <span>오전</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span>오후</span>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td colspan="4">
                                            <table class="w-100 border-0">
                                                <colgroup>
                                                    <col class="w-25">
                                                    <col class="w-25">
                                                    <col class="w-25">
                                                    <col class="w-25">
                                                </colgroup>
                                                <tr>
                                                    <td>
                                                        <div>
                                                            <div class="icon_box weatherIcon">
                                                                <i th:class="${shortTerm.forecastData[3].weatherIcon}"></i>
                                                            </div>
                                                            <span th:text="${shortTerm.forecastData[3].weatherCode}"></span>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div>
                                                            <div class="icon_box windDirectionIcon">
                                                                <i th:class="${shortTerm.forecastData[0].vecIcon}"></i>
                                                            </div>
                                                            <span th:text="${shortTerm.forecastData[0].fcstValue}"></span>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div><span th:text="${shortTerm.forecastData[1].fcstValue} +' m/s'"></span></div>
                                                    </td>
                                                    <td>
                                                        <div><span th:text="${shortTerm.forecastData[4].fcstValue} +' m'"></span></div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div>
                                                            <div class="icon_box weatherIcon">
                                                                <i th:class="${shortTerm.forecastData[8].weatherIcon}"></i>
                                                            </div>
                                                            <span th:text="${shortTerm.forecastData[8].weatherCode}"></span>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div>
                                                            <div class="icon_box windDirectionIcon">
                                                                <i th:class="${shortTerm.forecastData[5].vecIcon}"></i>
                                                            </div>
                                                            <span th:text="${shortTerm.forecastData[5].fcstValue}"></span>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div><span th:text="${shortTerm.forecastData[6].fcstValue} +' m/s'"></span></div>
                                                    </td>
                                                    <td>
                                                        <div><span th:text="${shortTerm.forecastData[9].fcstValue} +' m'"></span></div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                <table class="table">
                                    <tr>
                                        <th></th>
                                        <th>11일(월)</th>
                                        <th>12일(화)</th>
                                        <th>13일(수)</th>
                                        <th>14일(목)</th>
                                        <th>15일(금)</th>
                                    </tr>
                                    <tr>
                                        <th>
                                            <div >
                                                <p>날씨</p>
                                            </div>
                                        </th>
                                        <td>
                                            <div>
                                                <div>
                                                    <img src="/usr/v1/template/themeforest-v1.0/assets/img/wether_sunny.png" alt="날씨이미지"/>
                                                </div>
                                                <p th:text="${longTerm.data.wf4Am}">맑음</p>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <div>
                                                    <img src="/usr/v1/template/themeforest-v1.0/assets/img/wether_sunny.png" alt="날씨이미지"/>
                                                </div>
                                                <p th:text="${longTerm.data.wf5Am}">맑음</p>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <div>
                                                    <img src="/usr/v1/template/themeforest-v1.0/assets/img/wether_sunny.png" alt="날씨이미지"/>
                                                </div>
                                                <p th:text="${longTerm.data.wf6Am}">맑음</p>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <div>
                                                    <img src="/usr/v1/template/themeforest-v1.0/assets/img/wether_sunny.png" alt="날씨이미지"/>
                                                </div>
                                                <p th:text="${longTerm.data.wf7Am}">맑음</p>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <div>
                                                    <img src="/usr/v1/template/themeforest-v1.0/assets/img/wether_sunny.png" alt="날씨이미지"/>
                                                </div>
                                                <p th:text="${longTerm.data.wf8}">맑음</p>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <div >
                                                <p>파고</p>
                                            </div>
                                        </th>
                                        <td>
                                            <div>
                                                <p><span th:text="${longTerm.data.wh4AAm}"></span> - <span th:text="${longTerm.data.wh4BPm}"></span></p>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <p><span th:text="${longTerm.data.wh5AAm}"></span> - <span th:text="${longTerm.data.wh5BPm}"></span></p>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <p><span th:text="${longTerm.data.wh6AAm}"></span> - <span th:text="${longTerm.data.wh6BPm}"></span></p>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <p><span th:text="${longTerm.data.wh7AAm}"></span> - <span th:text="${longTerm.data.wh7BPm}"></span></p>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <p><span th:text="${longTerm.data.wh8A}"></span> - <span th:text="${longTerm.data.wh8B}"></span></p>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="row" id="local_weather">
                                <h4 class="mb-3">지역 날씨</h4>
                                <table class="table">
                                    <tr>
                                        <th th:text="${#dates.format(new java.util.Date(), 'MM.dd')}"></th>
                                        <th>날씨</th>
                                        <th>기온</th>
                                        <th>풍향</th>
                                        <th>풍속</th>
                                        <th th:if="${weatherData[0].waveHeight != null}">파고</th>
                                        <th th:if="${weatherData[0].waveDirectionIcon != null}">파향</th>
                                        <th th:if="${weatherData[0].wavePeriod != null}">파주기(초)</th>
                                        <th>강수확률</th>
                                        <th>강수량</th>
                                        <th>습도</th>
                                    </tr>
                                    <tr th:each="weather:${weatherData}">
                                        <td>
                                            <div>
                                                <p th:text="${#strings.substring(weather.time, 11,13)+'시'}"></p>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <div class="icon_box weatherIcon">
                                                    <i th:class="${weather.weatherIcon}"></i>
                                                </div>
                                                <p th:text="${weather.weatherName}"></p>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <p><span th:text="${weather.temperature}"></span> °C</p>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <div class="icon_box windDirectionIcon">
                                                    <i th:class="${weather.windDirectionIcon}"></i>
                                                </div>
                                                <p th:text="${weather.windDirection}"></p>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <p><span th:text="${weather.windSpeed}"></span> m/s</p>
                                            </div>
                                        </td>
                                        <td th:if="${weather.waveHeight != null}">
                                            <div>
                                                <p><span th:text="${weather.waveHeight != null ? weather.waveHeight : ''}"></span> m</p>
                                            </div>
                                        </td>
                                        <td th:if="${weather.waveDirectionIcon != null}">
                                            <div>
                                                <div class="icon_box waveDirectionIcon">
                                                    <i th:class="${weather.waveDirectionIcon != null ? weather.waveDirectionIcon : ''}"></i>
                                                </div>
                                                <p th:text="${weather.waveDirection}"></p>
                                            </div>
                                        </td>
                                        <td th:if="${weather.wavePeriod != null}">
                                            <div>
                                                <p><span th:text="${weather.wavePeriod != null ? weather.wavePeriod : ''}"></span> /s</p>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <p><span th:text="${weather.precipitationProbability}"></span> %</p>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <p><span th:text="${weather.precipitation!=null? weather.precipitation+'mm':'-'}"></span></p>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <p><span th:text="${weather.relativeHumidity}"></span> %</p>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main> 
    <div th:replace="~{usr/v1/etc/footer :: page-footer}"></div>
</div>
<script src="/usr/v1/template/themeforest-v1.0/assets/js/jquery-3.3.1.min.js"></script>
<script src="/usr/v1/template/themeforest-v1.0/assets/js/popper.min.js"></script>
<script src="/usr/v1/template/themeforest-v1.0/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/usr/v1/template/themeforest-v1.0/assets/js/leaflet.js"></script>
<script src="/usr/v1/template/themeforest-v1.0/assets/js/custom.js"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=30e202c150f42daab8c05bb9a37caa8d&libraries=services,clusterer"></script>
<script src="/usr/v1/js/script.js"></script>
<script src="/usr/v1/js/map-kakao.js"></script>
<script th:inline="javascript" type="text/javascript">
    var OBSData = /*[[${OBSData}]]*/[];
    var highTideData = /*[[${highTideData}]]*/[];
    // console.log("highTideData:",JSON.parse(highTideData));
    // console.log("OBS:",JSON.parse(OBSData));
    var item = /*[[${item}]]*/[];
    var shortTerm = /*[[${shortTerm}]]*/[];
    console.log("shortTerm:",shortTerm);
    var longTerm = /*[[${longTerm}]]*/[];
    console.log("longTerm:",longTerm);
</script>
<script>
    window.addEventListener('load',function() {
        document.querySelectorAll(".weather_menu li").forEach(function(item) {
            item.addEventListener('click', function() {
                console.log("href:", this.dataset.link);
                const listContainer = document.getElementById(this.dataset.link);
                const listPosition = listContainer.getBoundingClientRect().top + window.pageYOffset;
                window.scrollTo({
                    top: listPosition - 100,
                    behavior: 'smooth'
                });
            });
        });
    // window.addEventListener('DOMContentLoaded',function() {
        /*$.ajax({
            async : true, 
            cache : false, 
            type: 'POST',
            url: '/v1/weather/khoa',
            contentType: 'application/json',
            data: JSON.stringify({
                "mpLatitude":item.mpLatitude,
                "mpLongitude":item.mpLongitude,
            }),
            success: function (response) {
                // console.log("response:",response);
                // response = JSON.parse(response);
                // console.log("response2:",response);
                // const data = JSON.parse(response);
                // console.log("data:",response.result.data);
                // const tideData = data.result.data;
                // const highTideData = data.result.data.filter(item => item.hl_code === "고조");
                // console.log("highTideData:",highTideData);
                // const lowTideData = data.result.data.filter(item => item.hl_code === "저조");
                // console.log("lowTideData:",lowTideData);
                // tideData.forEach((item, index) => {
                //     if (item.hl_code === "고조" && index > 0 && tideData[index - 1].hl_code === "저조") {
                //         // 간조 이후 만조의 차이 계산
                //         const previousItem = tideData[index - 1];
                //         const tideDifference = parseFloat(item.tph_level) - parseFloat(previousItem.tph_level);
                //         item.tideDifference = `▲+${tideDifference.toFixed(2)}`; // 만조(고조)에서 차오른 해수면 높이 차이
                //     } else if (item.hl_code === "저조" && index > 0 && tideData[index - 1].hl_code === "고조") {
                //         // 만조 이후 간조의 차이 계산
                //         const previousItem = tideData[index - 1];
                //         const tideDifference = parseFloat(previousItem.tph_level) - parseFloat(item.tph_level);
                //         item.tideDifference = `▼-${tideDifference.toFixed(2)}`; // 간조(저조)에서 빠진 해수면 높이 차이
                //     }
                // });

                // const highTideContainer = document.getElementById('highTideTime').querySelector('div');
                // highTideContainer.innerHTML = tideData.filter(item => item.hl_code === "고조")
                // .map(item => `
                //     <p>
                //         <span>${new Date(item.tph_time).toLocaleTimeString('ko-KR', { hour: '2-digit', minute: '2-digit', hour12: false })}</span>
                //         (<span>${item.tph_level}</span>) ▲ +
                //         ${item.tideDifference !== null ? `<span>${item.tideDifference}</span>` : ""}
                //     </p>
                // `).join('');
                // const lowTideContainer = document.getElementById('lowTideTime').querySelector('div');
                // lowTideContainer.innerHTML = tideData.filter(item => item.hl_code === "저조")
                // .map(item => `
                //     <p>
                //         <span>${new Date(item.tph_time).toLocaleTimeString('ko-KR', { hour: '2-digit', minute: '2-digit', hour12: false })}</span>
                //         (<span>${item.tph_level}</span>) ▼ -
                //         ${item.tideDifference !== null ? `<span>${item.tideDifference}</span>` : ""}
                //     </p>
                // `).join('');
                // console.log("response:", response);

                // 날짜 목록 가져오기
                    // 날짜를 키로 갖는 배열을 가져옴
                // const data = JSON.parse(response);
                // console.log("data:",data);
                
                const dates = Object.keys(response);
                const tableBody = document.querySelector("#tideTable tbody");
                tableBody.innerHTML= "";

                const currentDate = new Date();
                const currentFormattedDate = new Date(currentDate.toLocaleString('en-US', { timeZone: 'Asia/Seoul' }));
                const formattedDateKST = currentFormattedDate.getFullYear() + '-' +
                ('0' + (currentFormattedDate.getMonth() + 1)).slice(-2) + '-' +
                ('0' + currentFormattedDate.getDate()).slice(-2);

                // 어제 날짜 계산 (한국시간 반영)
                const yesterdayDate = new Date(currentFormattedDate);
                yesterdayDate.setDate(currentFormattedDate.getDate() - 1);
                const formattedYesterdayKST = yesterdayDate.getFullYear() + '-' +
                ('0' + (yesterdayDate.getMonth() + 1)).slice(-2) + '-' +
                ('0' + yesterdayDate.getDate()).slice(-2);

                console.log('현재 날짜 (한국시간):', formattedDateKST);
                console.log('어제 날짜 (한국시간):', formattedYesterdayKST);
 
                let lastLowTide = null;
                let lastHighTide = null;

                dates.forEach(date => {
                    // console.log("this date:",date);
                    const formattedDate = date.slice(0, 4) + "-" + date.slice(4, 6) + "-" + date.slice(6, 8);
                    // console.log("formattedDate:",formattedDate);
                    // console.log("response[date].result.data:",JSON.parse(response[date]).result.data);
                    if (formattedDate === formattedYesterdayKST) {
                        const dayData = JSON.parse(response[date]).result.data;
                        dayData.forEach(item => {
                            if (item.hl_code === "고조") {
                                lastHighTide = item.tph_level;
                            }else if (item.hl_code === "저조") {
                                lastLowTide = item.tph_level;
                            }
                        });
                        
                        // console.log("어제");
                        return; 
                    }
                    // console.log("통과");
                    // console.log("date:",date);
                    // console.log("data:",response[date]);
                    const dayData = JSON.parse(response[date]).result.data;
                    // console.log(`data for ${date}:`, dayData);

                    
                    const row = document.createElement("tr");
                    
                    

                    // const yesterdayDate = new Date();
                    // yesterdayDate.setDate(yesterdayDate.getDate() - 1);
                    // const formattedYesterday = yesterdayDate.toISOString().slice(0, 10); 

                    // formattedYesterday를 사용해서 날짜를 비교
                    // if (formattedDate === formattedYesterday) {
                    //     // 어제 날짜에 대한 처리
                    //     dayData.forEach(item => {
                    //         if (item.hl_code === "저조") {
                    //             lastLowTide = item.tph_level; 
                    //         }
                    //     });
                    //     return;
                    // }
                    
                    dayData.sort((a, b) => new Date(a.tph_time) - new Date(b.tph_time));
                    // console.log("dayData:",dayData);
                    dayData.forEach((item, index) => {
                        if( index == 0) {
                            if (item.hl_code === "고조" && lastLowTide !== null) {
                                const tideDifference = parseFloat(item.tph_level) - parseFloat(lastLowTide);
                                item.tideDifference = `▲ + ${tideDifference.toFixed(0)}`;
                            }
                            if (item.hl_code === "저조" && lastHighTide !== null) {
                                const tideDifference = parseFloat(item.tph_level) - parseFloat(lastHighTide);
                                item.tideDifference = `▲ - ${tideDifference.toFixed(0)}`;
                            }
                        } else if ( index > 0) {
                            const previousItem = dayData[index - 1];

                            if (item.hl_code === "고조" && previousItem.hl_code === "저조") {
                                const tideDifference = parseFloat(item.tph_level) - parseFloat(previousItem.tph_level);
                                item.tideDifference = `▲ + ${tideDifference.toFixed(0)}`; 
                            } else if (item.hl_code === "저조" && previousItem.hl_code === "고조") {
                                const tideDifference = parseFloat(previousItem.tph_level) - parseFloat(item.tph_level);
                                item.tideDifference = `▼ - ${tideDifference.toFixed(0)}`; 
                            }
                        } 

                        if (item.hl_code === "저조") {
                            lastLowTide = item.tph_level;
                        }
                    });
                    
                    // console.log("formattedDate:",formattedDate);
                    const dayOfWeek = new Date(formattedDate).toLocaleDateString("ko-KR", { weekday: "short" }); 
                    
                    row.innerHTML = `
                        <td><p><span>${date.slice(0, 4)}</span>-<span>${date.slice(4, 6)}</span>-<span>${date.slice(6, 8)}</span> <span>(${dayOfWeek})</span></p></td>
                        <td>
                            <div>
                                <img src="/usr/v1/template/themeforest-v1.0/assets/img/moon_09.png" alt="달이미지">
                            </div>
                        </td>
                        <td>
                            <div>
                                <p><span>무시</span></p>
                                <div class="water_flow">
                                    <div class="progress" style="height: 30px;">
                                        <div id="waterFlow" class="progress-bar progress-bar-striped progress-bar-animated progress-bar-water" role="progressbar" style="width: 50%; background-color: aqua;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="highTideTime" id="highTideTime-${date}">
                            <div>
                                ${dayData.filter(item => item.hl_code === "고조").map(item => `
                                    <div>
                                        <span>${new Date(item.tph_time).toLocaleTimeString('ko-KR', { hour: '2-digit', minute: '2-digit', hour12: false })}</span>
                                        (<span>${item.tph_level}</span>) ${item.tideDifference}
                                    </div>
                                `).join('')}
                            </div>
                        </td>
                        <td class="lowTideTime" id="lowTideTime-${date}">
                            <div>
                                ${dayData.filter(item => item.hl_code === "저조").map(item => `
                                    <div>
                                        <span>${new Date(item.tph_time).toLocaleTimeString('ko-KR', { hour: '2-digit', minute: '2-digit', hour12: false })}</span>
                                        (<span>${item.tph_level}</span>) ${item.tideDifference}
                                    </div>
                                `).join('')}
                            </div>
                        </td>
                    `;

                    tableBody.appendChild(row);
                    // console.log("JSON.parse(response[date]).meta:",JSON.parse(response[date]).result.meta);
                    document.querySelector(".obs_name").textContent = JSON.parse(response[date]).result.meta.obs_post_name;
                    
                });
                
            },
            error: function () {
                alert("서버 요청 실패");
            }
        })*/
    })
</script>
<!-- khoa 해양 api -->
<!-- <script src="http://www.khoa.go.kr/oceanmap/js/proj4js-1.1.0/lib/proj4js.js" type="text/javascript"></script>-->
<!-- <script src="http://www.khoa.go.kr/oceanmap/js/proj4js-1.1.0/lib/defs/EPSG5179.js" type="text/javascript"></script>-->
<!-- <script src="http://www.khoa.go.kr/oceanmap/js/gis/OtmsApi.js" type="text/javascript"></script>-->
<!-- 개방海 지도 서비스 호출 -->
<!-- <script src="http://www.khoa.go.kr/oceanmap/BASEMAP_USR/otmsBasemapApi.do?ServiceKey=<gjSB2VAja63ktX7pWqTtqA==>"></script>-->

</body>
</html>