<th:block th:fragment="page-header">
    <header id="ts-header" class="fixed-top">
        <nav id="ts-primary-navigation" class="navbar navbar-expand-md navbar-light">
            <div class="container">
                <a class="navbar-brand" href="/v1/index">
                    <img src="/usr/v1/template/themeforest-v1.0/assets/img/FishOn3.png" alt="로고">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarPrimary" aria-controls="navbarPrimary" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarPrimary">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/v1/port/portList">선상낚시[항구]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/v1/ship/shipList">선상낚시[배]</a>
                        </li>
                        <li class="nav-item ts-has-child">
                            <a class="nav-link" href="javascript:void(0);">회원정보</a>
                            <ul class="ts-child">
                                <li class="nav-item">
                                    <a href="/v1/member/editMember" class="nav-link">회원수정</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/v1/member/orderList" class="nav-link">예약목록</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/v1/member/orderReturn" class="nav-link">환불목록</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto" >
                        <li class="nav-item" th:unless="${session != null and session.sessNameUsr != null}">
                            <a class="nav-link" href="/v1/login">로그인</a>
                        </li>
                        <li class="nav-item" th:unless="${session != null and session.sessNameUsr != null}">
                            <a class="nav-link text-dark" href="/v1/register">회원가입</a>
                        </li>
                        <li class="nav-item" th:if="${session != null and session.sessNameUsr != null}">
                            <a class="nav-link" href="/v1/member/editMember" th:text="${session.sessNameUsr}"></a>
                            <input type="hidden" th:value="${session.sessSeqUsr}" id="sessSeqUsr">
                            <input type="hidden" th:value="${session.sessIdUsr}" id="sessIdUsr">
                        </li>
                        <li class="nav-item" th:if="${session != null and session.sessNameUsr != null}">
                            <a class="nav-link logoutBtn" href="javascript:void(0);">로그아웃</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-outline-primary btn-sm m-1 px-3" href="/v1/mapPoint/mapPointAdd">
                                <i class="fa fa-plus small mr-2"></i>
                                낚시 포인트 추가
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
</th:block>
