<th:block th:fragment="page-header">
    <header id="ts-header" class="fixed-top">

        <!-- SECONDARY NAVIGATION
        =============================================================================================================-->
    
        <!--PRIMARY NAVIGATION
        =============================================================================================================-->
        <nav id="ts-primary-navigation" class="navbar navbar-expand-md navbar-light">
            <div class="container">
    
                <!--Brand Logo-->
                <a class="navbar-brand" href="/v1/index">
                    <img src="/usr/v1/template/themeforest-v1.0/assets/img/FishOn3.png" alt="로고">
                </a>
    
                <!--Responsive Collapse Button-->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarPrimary" aria-controls="navbarPrimary" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
    
                <!--Collapsing Navigation-->
                <div class="collapse navbar-collapse" id="navbarPrimary">
    
                    <!--LEFT NAVIGATION MAIN LEVEL
                    =================================================================================================-->
                    <ul class="navbar-nav">
    
                        <!--HOME (Main level)
                        =============================================================================================-->
                        <li class="nav-item ts-has-child">
    
                            <!--Main level link-->
                            <a class="nav-link active" href="javascript:void(0);">
                                낚시포인트
                                <span class="sr-only">(current)</span>
                            </a>
    
                            <!-- List (1st level) -->
                            <ul class="ts-child">
                                <!-- MAP (1st level)
                                =====================================================================================-->
                                <li class="nav-item">
    
                                    <a href="/v1/mapPoint/mapPointDetail?mpSeq=1" class="nav-link">낚시 포인트</a>
    
                                </li>
                                <!--end MAP (1st level)-->
    
                                <!-- SLIDER (1st level)
                                =====================================================================================-->
                                <li class="nav-item">
    
                                    <a href="/v1/mapPoint/mapPointAdd" class="nav-link">낚시 포인트 생성</a>
    
                                </li>
                                <li class="nav-item">
    
                                    <a href="/v1/weather/weatherPoint?mpSeq=1" class="nav-link">바다 포인트 날씨</a>
    
                                </li>
                                <!--end SLIDER (1st level)-->
    
                            </ul>
                            <!--end List (1st level) -->
    
                        </li>
                        <!--end HOME nav-item-->
    
                        <!--LISTING (Main level)
                        =============================================================================================-->
                        <li class="nav-item ts-has-child">
    
                            <!--Main level link-->
                            <a class="nav-link" href="javascript:void(0);">선상낚시</a>
    
                            <!-- List (1st level) -->
                            <ul class="ts-child">
    
                                <!-- CATEGORY ICONS (1st level)
                                =====================================================================================-->
                                <li class="nav-item">
    
                                    <a href="/v1/port/portList2" class="nav-link">항구</a>
    
                                </li>
                                <!--end CATEGORY ICONS (1st level)-->
                                <!-- <li class="nav-item">
    
                                    <a href="/v1/port/portDetail?ptSeq=1" class="nav-link">항구 상세</a>
    
                                </li> -->
                                <li class="nav-item">
    
                                    <a href="/v1/ship/shipList" class="nav-link">배</a>
    
                                </li>
                                <!-- <li class="nav-item">
    
                                    <a href="/v1/ship/shipDetail?spSeq=1" class="nav-link">배 상세</a>
    
                                </li> -->
                                
                                <li class="nav-item">
                                    <a href="javascript:void(0);" class="nav-link">선상낚시 예약</a>
                                </li>
    
                                <!-- PROPERTY (1st level)
                                =====================================================================================-->
                                <!--end PROPERTY (1st level)-->
    
                            </ul>
                            <!--end List (1st level) -->
    
                        </li>
                        <!--end LISTING nav-item-->
    
                        <!--PAGES (Main level)
                        =============================================================================================-->
                        <!-- <li class="nav-item ts-has-child">
    
                            <a class="nav-link" href="javascript:void(0);">낚시날씨</a>
    
                        </li> -->
                        <!--end PAGES nav-item-->
    
                        <!--PAGES (Main level)
                        =============================================================================================-->
                        <li class="nav-item ts-has-child">
    
                            <!--Main level link-->
                            <a class="nav-link" href="javascript:void(0);">회원정보</a>
    
                            <!-- List (1st level) -->
                            <ul class="ts-child">
                                <li class="nav-item">
                                    <a href="/v1/member/editMember" class="nav-link">회원수정</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/v1/member/orderList" class="nav-link">예약목록</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/v1/member/orderReturn" class="nav-link">환불목록</a>
                                </li>
                                <!-- LOGIN (1st level)
                                =====================================================================================-->
                                <li class="nav-item">
                                    <a href="/v1/login" class="nav-link">로그인</a>
                                </li>
                                <!--end LOGIN (1st level)-->
    
                                <!-- REGISTER (1st level)
                                =====================================================================================-->
                                <li class="nav-item">
                                    <a href="/v1/register" class="nav-link">회원가입</a>
                                </li>
                                <!--end REGISTER (1st level)-->
    
                            </ul>
                            <!--end List (1st level) -->
    
                        </li>
                        <!--end PAGES nav-item-->
    
                        <!--ABOUT US (Main level)
                        =============================================================================================-->
                        <!-- <li class="nav-item">
                            <a class="nav-link" href="/v1/about-us">About Us</a>
                        </li> -->
                        <!--end ABOUT US nav-item-->
    
                        <!--CONTACT (Main level)
                        =============================================================================================-->
                        <!-- <li class="nav-item">
                            <a class="nav-link mr-2" href="/v1/contact">Contact</a>
                        </li> -->
                        <!--end CONTACT nav-item-->
    
                    </ul>
                    <!--end Left navigation main level-->
    
                    <!--RIGHT NAVIGATION MAIN LEVEL
                    =================================================================================================-->
                    <ul class="navbar-nav ml-auto" >
    
                        <!--LOGIN (Main level)
                        =============================================================================================-->
                        <li class="nav-item" th:unless="${session != null and session.sessNameUsr != null}">
                            <a class="nav-link" href="/v1/login">로그인</a>
                        </li>
    
                        <!--REGISTER (Main level)
                        =============================================================================================-->
                        <li class="nav-item" th:unless="${session != null and session.sessNameUsr != null}">
                            <a class="nav-link text-dark" href="/v1/register">회원가입</a>
                        </li>

                        <li class="nav-item" th:if="${session != null and session.sessNameUsr != null}">
                            <a class="nav-link" href="/v1/member/editMember" th:text="${session.sessNameUsr}"></a>
                            <input type="hidden" th:value="${session.sessSeqUsr}" id="sessSeqUsr">
                            <input type="hidden" th:value="${session.sessIdUsr}" id="sessIdUsr">
                        </li>
                        <li class="nav-item" th:if="${session != null and session.sessNameUsr != null}">
                            <a class="nav-link logoutBtn" href="javascript:void(0);">로그아웃</a>
                        </li>
    
                        <!--SUBMIT (Main level)
                        =============================================================================================-->
                        <li class="nav-item">
                            <a class="btn btn-outline-primary btn-sm m-1 px-3" href="/v1/mapPoint/mapPointAdd">
                                <i class="fa fa-plus small mr-2"></i>
                                낚시 포인트 추가
                            </a>
                        </li>
    
                    </ul>
                    <!--end Right navigation-->
    
                </div>
                <!--end navbar-collapse-->
            </div>
            <!--end container-->
        </nav>
        <!--end #ts-primary-navigation.navbar-->
    
    </header>
</th:block>
