<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="ThemeStarz">

    <!--CSS -->
    <link rel="stylesheet" href="/usr/v1/template/themeforest-v1.0/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/usr/v1/template/themeforest-v1.0/assets/font-awesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/usr/v1/template/themeforest-v1.0/assets/css/jquery.scrollbar.css">
    <link rel="stylesheet" href="/usr/v1/template/themeforest-v1.0/assets/css/leaflet.css">
    <link rel="stylesheet" href="/usr/v1/template/themeforest-v1.0/assets/css/style.css">

    <!-- dev -->
    <link rel="stylesheet" href="/usr/v1/css/common.css">

    <title>FishOn - 피쉬온</title>
    <link rel="icon" href="/usr/v1/template/themeforest-v1.0/assets/img/favicon.ico">
    <style>
        .navbar-brand{
            padding-top: 0;
            padding-bottom: 0;
        }
        .navbar-brand img{
            width: 80px;
        }
    </style>
</head>

<body>

<!-- WRAPPER
=====================================================================================================================-->
<div class="ts-page-wrapper ts-homepage" id="page-top">

    <!--*********************************************************************************************************-->
    <!--HEADER **************************************************************************************************-->
    <!--*********************************************************************************************************-->
    <div th:replace="~{usr/v1/etc/head :: page-header}"></div>
    
    <!--end Header-->

    <!-- HERO MAP
    =================================================================================================================-->
    <section id="ts-hero" class=" mb-0">

        <!--Fullscreen mode-->
        <div class="ts-full-screen ts-has-horizontal-results w-1001 d-flex1 flex-column1">

            <!-- MAP
            =========================================================================================================-->
            <div class="ts-map ts-shadow__sm">

                <!-- FORM
                =====================================================================================================-->
                <div class="ts-form__map-search ts-z-index__2">
                    <!--Form-->
                    <form class="ts-form">

                        <!--Collapse button-->
                        <a href=".ts-form-collapse" data-toggle="collapse" class="ts-center__vertical justify-content-between">
                            <h5 class="mb-0">검색 필터</h5>
                        </a>

                        <!--Form-->
                        <div class="ts-form-collapse ts-xs-hide-collapse collapse show">

                            <!--Keyword-->
                            <div class="form-group my-2 pt-2">
                                <input type="text" class="form-control" id="keyword" name="keyword" placeholder="Address, City or ZIP">
                            </div>

                            <!--Category-->
                            <!-- <select class="custom-select my-2" id="type" name="category">
                                <option value="">Type</option>
                                <option value="1">Apartment</option>
                                <option value="2">Villa</option>
                                <option value="3">Land</option>
                                <option value="4">Garage</option>
                            </select> -->

                            <!--Status-->
                            <!-- <select class="custom-select my-2" id="status" name="status">
                                <option value="">Status</option>
                                <option value="1">Sale</option>
                                <option value="2">Rent</option>
                            </select> -->

                            <!--Max Price-->
                            <!-- <select class="custom-select my-2" id="price" name="price">
                                <option value="">Max Price</option>
                                <option value="5000">$5,000</option>
                                <option value="10000">$10,000</option>
                                <option value="50000">$50,000</option>
                                <option value="100000">$100,000</option>
                                <option value="100000>">> $100,000</option>
                            </select> -->

                            <!--Submit button-->
                            <div class="form-group mt-2 mb-3">
                                <button type="submit" class="btn btn-primary w-100" id="search-btn">검색</button>
                            </div>

                            <!--More Options Button-->
                            <a href="#more-options-collapse" class="collapsed w-100 d-inline-block" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="more-options-collapse">
                                <i class="fa fa-plus-circle ts-text-color-primary mr-2 ts-visible-on-collapsed"></i>
                                <i class="fa fa-minus-circle ts-text-color-primary mr-2 ts-visible-on-uncollapsed"></i>
                                어종 검색 조건 추가
                            </a>

                            <!--Hidden Form-->
                            <div class="collapse" id="more-options-collapse">

                                <!--Padding-->
                                <div class="pt-4">

                                    <!--Checkboxes-->
                                    <!-- <div id="features-checkboxes" class="w-100"> -->
                                   
                                    <div id="fishList-checkboxes"  class="w-100">
                                        <h6 class="mb-3">어종</h6>

                                        <div class="">
                                            <div class="custom-control custom-checkbox" th:each="fishs:${fishList}">
                                                <input type="checkbox" class="custom-control-input" th:id="${'ch_'+fishsStat.count}" name="shFishList" th:value="${'ch_'+fishsStat.count}">
                                                <label class="custom-control-label" th:for="${'ch_'+fishsStat.count}" th:text="${fishs.fsName}"></label>
                                            </div>

                                        </div>
                                        <!--end ts-column-count-3-->

                                    </div>
                                    <!--end #features-checkboxes-->

                                </div>
                                <!--end Padding-->
                            </div>
                            <!--end more-options-collapse-->

                        </div>
                        <!--end ts-form-collapse-->

                    </form>
                    <!--end ts-form-->
                </div>
                <!--end ts-form__map-search-->
                <div id="map" class="h-100 ts-z-index__1"></div>
                <div id="ts-map-hero" class="h-100 ts-z-index__1"
                     data-ts-map-leaflet-provider="https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}{r}.png"
                     data-ts-map-leaflet-attribution="&copy; <a href='http://www.openstreetmap.org/copyright'>OpenStreetMap</a> &copy; <a href='http://cartodb.com/attributions'>CartoDB</a>"
                     data-ts-map-zoom-position="bottomright"
                     data-ts-map-scroll-wheel="1"
                     data-ts-map-zoom="6"
                     data-ts-map-center-latitude="37.407709840151576"
                     data-ts-map-center-longitude="127.35696894774053"
                     data-ts-locale="ko-KR"
                     data-ts-currency="KRW"
                     data-ts-unit="m<sup>2</sup>"
                     data-ts-display-additional-info="area_Area;bedrooms_Bedrooms;bathrooms_Bathrooms"
                >
                </div>

            </div>

            <!-- RESULTS
            =========================================================================================================-->
            <div id="ts-results" class="ts-results__horizontal scrollbar-inner dragscroll">
                <div class="ts-results-wrapper"></div>
            </div>

        </div>
        <!--end full-screen-->

    </section>
    <!--end ts-hero-->

    <!--*********************************************************************************************************-->
    <!-- MAIN ***************************************************************************************************-->
    <!--*********************************************************************************************************-->

    <main id="ts-main">

        <!-- FEATURED PROPERTIES
        =============================================================================================================-->
        <section id="featured-properties" class="featured-properties ts-block pt-5">
            <div class="container">

                <!--Title-->
                <div class="ts-title text-center">
                    <h2>추천 선상낚시</h2>
                </div>

                <div class="row">

                    <!--Item-->
                    <div th:class="${shipsStat.count == 1} ? 'col-md-6 col-lg-4' : 'col-sm-6 col-lg-4'" th:each="ships:${ships}">

                        <div class="card ts-item ts-card ts-item__lg">
                            <a th:href="@{/v1/ship/shipDetail(spSeq=${ships.spSeq})}">
                                <!--Ribbon-->
                                <div class="ts-ribbon">
                                    <i class="fa fa-thumbs-up"></i>
                                </div>

                                <!--Card Image-->
                                <div class="card-img ts-item__image" data-bg-image="/usr/v1/template/themeforest-v1.0/assets/img/img-item-thumb-01.jpg">
                                    <div class="ts-item__info-badge" th:text="${#numbers.formatInteger(ships.spPrice,1,'COMMA') + ' 원'}"></div>
                                    <figure class="ts-item__info">
                                        <h4 th:text="${ships.spName}"></h4>
                                        <aside>
                                            <i class="fa fa-map-marker mr-2"></i>
                                            <span th:text="${@codeService.selectOneCachedCode(ships.spArea)}"></span>
                                        </aside>
                                    </figure>
                                </div>

                                <!--Card Body-->
                                <div class="card-body ts-item__body">
                                    <div class="ts-description-lists d-flex flex-wrap justify-content-between">
                                        <dl>
                                            <dt>어종</dt>
                                            <dd th:text="${ships.fsNameList != null and #strings.length(ships.fsNameList) > 1 ? #strings.substring(ships.fsNameList, 1, #strings.length(ships.fsNameList) - 1) : '전어종'}"></dd>
                                        </dl>
                                        <dl>
                                            <dt>추가서비스</dt>
                                            <dd>
                                                <i th:classappend="${ships.spRentalNy == 1} ? 'fas fa-check-square' : 'fas fa-times-square'"
                                                   th:style="${ships.spRentalNy == 1} ? 'color: green;' : 'color: red;'"></i> 낚시대 대여
                                            </dd>                                            
                                            <dd>
                                                <i th:classappend="${ships.spEatNy == 1} ? 'fas fa-check-circle' : 'fas fa-times-circle'"
                                                th:style="${ships.spEatNy == 1} ? 'color: green;' : 'color: red;'"></i> 식사제공
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>출발일</dt>
                                            <dd th:text="${#dates.format(ships.spStart,'yyyy-MM-dd')}"></dd>
                                        </dl>
                                        <dl>
                                            <dt>최대인원</dt>
                                            <dd th:text="${ships.spTotal+'명'}"></dd>
                                        </dl>
                                        <dl>
                                            <dt>예약가능인원</dt>
                                            <dd th:text="${ships.spRemain+'명'}"></dd>
                                        </dl>
                                        
                                    </div>
                                </div>

                                <!--Card Footer-->
                                <div class="card-footer">
                                    <span class="ts-btn-arrow">상세보기</span>
                                </div>
                            </a>
                        </div>
                        <!--end ts-item-->
                    </div>
                    <!--end Item col-md-4-->
                </div>    
                <!--All properties button-->
                <div class="text-center mt-3">
                    <!-- <a href="listing-category-icons.html" class="btn btn-outline-dark ts-btn-border-muted">모든 낚시 포인트 보러가기</a> -->
                    <a href="/v1/ship/shipList" class="btn btn-outline-dark">모든 선상낚시 보러가기</a>
                </div>

            </div>
            <!--end container-->
        </section>

        <!--SUBMIT BANNER
        =============================================================================================================-->
        <!-- <section id="weather" class="ts-block">
            <div class="container">

                <div class="ts-block-inside text-center ts-separate-bg-element" data-bg-image-opacity=".2" data-bg-image="/usr/v1/template/themeforest-v1.0/assets/img/weather.png" data-bg-color="#fff" style="background-image: url(&quot;/usr/v1/template/themeforest-v1.0/assets/img/weather.png&quot;);">
                    <figure class="h1 font-weight-light mb-2">지역날씨정보</figure>
                    <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                    <a href="submit.html" class="btn btn-dark">날씨정보보기</a>
                </div>

            </div>
        </section> -->

        <!--LATEST LISTINGS
        =============================================================================================================-->
        <section id="latest-listings" class="ts-block">
            <div class="container">

                <!--Title-->
                <div class="ts-title">
                    <h2>제철 낚시 포인트</h2>
                </div>
                <div class="row seasonalTabs">
                    <ul class="nav nav-tabs" id="seasonalTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active show" id="all-tab" data-toggle="tab" href="#seasonAll" role="tab" aria-controls="all" aria-selected="true" data-season="0">연중[전체]</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="january-tab" data-toggle="tab" href="#january" role="tab" aria-controls="january" aria-selected="false" data-season="6">1월</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="february-tab" data-toggle="tab" href="#february" role="tab" aria-controls="february" aria-selected="false" data-season="7">2월</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="march-tab" data-toggle="tab" href="#march" role="tab" aria-controls="march" aria-selected="false" data-season="8">3월</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="april-tab" data-toggle="tab" href="#april" role="tab" aria-controls="april" aria-selected="false" data-season="9">4월</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="may-tab" data-toggle="tab" href="#may" role="tab" aria-controls="may" aria-selected="false" data-season="10">5월</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="june-tab" data-toggle="tab" href="#june" role="tab" aria-controls="june" aria-selected="false" data-season="11">6월</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="july-tab" data-toggle="tab" href="#july" role="tab" aria-controls="july" aria-selected="false" data-season="12">7월</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="august-tab" data-toggle="tab" href="#august" role="tab" aria-controls="august" aria-selected="false" data-season="13">8월</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="september-tab" data-toggle="tab" href="#september" role="tab" aria-controls="september" aria-selected="false" data-season="14">9월</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="october-tab" data-toggle="tab" href="#october" role="tab" aria-controls="october" aria-selected="false" data-season="15">10월</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="november-tab" data-toggle="tab" href="#november" role="tab" aria-controls="november" aria-selected="false" data-season="16">11월</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="december-tab" data-toggle="tab" href="#december" role="tab" aria-controls="december" aria-selected="false" data-season="17">12월</a>
                        </li>
                    </ul>
                </div>

                <!--Row-->
                <div class="row" id="season_pointList">

                    <!--Item-->
                    <div class="col-sm-6 col-lg-3" th:each="sessPoint:${sessPoint}">
                        <div class="card ts-item ts-card">
                            <a th:href="@{/v1/mapPoint/mapPointDetail(mpSeq=${sessPoint.mpSeq})}">
                                <!--Ribbon-->
                                <!-- <div class="ts-ribbon">
                                    <i class="fa fa-thumbs-up"></i>
                                </div>
                                <div class="ts-ribbon-corner">
                                    <span>Updated</span>
                                </div> -->

                                <!--Card Image-->
                                <div class="card-img ts-item__image" data-bg-image="/usr/v1/template/themeforest-v1.0/assets/img/img-item-thumb-01.jpg">
                                    <figure class="ts-item__info">
                                        <h4 th:text="${sessPoint.mpTitle}"></h4>
                                        <aside>
                                            <i class="fa fa-map-marker mr-2"></i>
                                            <span th:text="${sessPoint.mpAddress}"></span>
                                        </aside>
                                    </figure>
                                </div>

                                <!--Card Body-->
                                <div class="card-body">
                                    <div class="ts-description-lists">
                                        <dl>
                                            <dt>생성일</dt>
                                            <dd th:text="${#dates.format(sessPoint.mpRegDate,'yyyy-MM-dd')}"></dd>
                                        </dl>
                                        <dl>
                                            <dt th:text="${sessPoint.season_ssSeq != null ? @codeService.selectOneCachedCode(sessPoint.season_ssSeq) + ' 시즌 어종' : '어종'}"></dt>
                                            <dd th:text="${sessPoint.fsNameList}"></dd>
                                        </dl>
                                    </div>
                                </div>

                                <!--Card Footer-->
                                <div href="/v1/mapPoint/mapPointDetail" class="card-footer">
                                    <span class="ts-btn-arrow">상세보기</span>
                                </div>
                            </a>
                        </div>
                        <!--end ts-item-->
                    </div>
                    <!--end Item col-md-4-->

                </div>
                <!--end row-->
            </div>
            <!--end container-->
        </section>

        <!--ITEM CAROUSEL
        =============================================================================================================-->
        <section id="fishing_point" class="ts-block" data-bg-pattern="/usr/v1/template/themeforest-v1.0/assets/img/bg-pattern-dot.png">
            <div class="container">
                <!--Title-->
                <div class="ts-title text-center">
                    <h2>낚시 포인트</h2>
                </div>

                <!--Carousel-->
                <div class="owl-carousel ts-items-carousel" data-owl-items="4" data-owl-dots="1">

                    <!--Item-->
                    <div class="slide" th:each="mapPoint:${mapPoint}">

                        <div class="card ts-item ts-card ts-item__lg">
                                <!--Ribbon-->
                                <div class="ts-ribbon">
                                    <i class="fa fa-thumbs-up"></i>
                                </div>

                                <!--Card Image-->
                                <div class="card-img ts-item__image" data-bg-image="/usr/v1/template/themeforest-v1.0/assets/img/img-item-thumb-01.jpg">
                                    <figure class="ts-item__info">
                                        <h4 th:text="${mapPoint.mpTitle}"></h4>
                                        <aside>
                                            <i class="fa fa-map-marker mr-2"></i>
                                            <span th:text="${mapPoint.mpAddress}"></span>
                                        </aside>
                                    </figure>
                                </div>

                                <!--Card Body-->
                                <div class="card-body">
                                    <div class="ts-description-lists">
                                        <dl>
                                            <dt>생성일</dt>
                                            <dd th:text="${#dates.format(mapPoint.mpRegDate,'yyyy-MM-dd')}"></dd>
                                        </dl>
                                        <dl>
                                            <dt>어종</dt>
                                            <dd th:text="${mapPoint.fsNameList}"></dd>
                                        </dl>
                                    </div>
                                </div>

                                <!--Card Footer-->
                                <a th:href="@{/v1/mapPoint/mapPointDetail(mpSeq=${mapPoint.mpSeq})}" class="card-footer">
                                    <span class="ts-btn-arrow">상세보기</span>
                                </a>
                        </div>
                        <!--end ts-item-->
                    </div>
                    <!--end slide-->
                </div>
            </div>
            
        </section>
        <!--end ts-block-->
    </main>

    <!--*********************************************************************************************************-->
    <!--************ FOOTER *************************************************************************************-->
    <!--*********************************************************************************************************-->

    <div th:replace="~{usr/v1/etc/footer :: page-footer}"></div> 
    <!--end #ts-footer-->


</div>
<!--end page-->

<script src="/usr/v1/template/themeforest-v1.0/assets/js/jquery-3.3.1.min.js"></script>
<script src="/usr/v1/template/themeforest-v1.0/assets/js/popper.min.js"></script>
<script src="/usr/v1/template/themeforest-v1.0/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/usr/v1/template/themeforest-v1.0/assets/js/owl.carousel.min.js"></script>
<script src="/usr/v1/template/themeforest-v1.0/assets/js/sly.min.js"></script>
<script src="/usr/v1/template/themeforest-v1.0/assets/js/dragscroll.js"></script>
<script src="/usr/v1/template/themeforest-v1.0/assets/js/jquery.scrollbar.min.js"></script>
<script src="/usr/v1/template/themeforest-v1.0/assets/js/leaflet.js"></script>
<script src="/usr/v1/template/themeforest-v1.0/assets/js/leaflet.markercluster.js"></script>
<script src="/usr/v1/template/themeforest-v1.0/assets/js/custom.js"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=30e202c150f42daab8c05bb9a37caa8d&libraries=services,clusterer"></script>
<script src="/usr/v1/js/script.js"></script>
<script src="/usr/v1/js/map-kakao.js"></script>
<script src="/usr/v1/template/themeforest-v1.0/assets/js/map-leaflet.js"></script>

</body>
</html>
