<!doctype html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!--CSS -->
    <link rel="stylesheet" href="/usr/v1/template/themeforest-v1.0/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/usr/v1/template/themeforest-v1.0/assets/font-awesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/usr/v1/template/themeforest-v1.0/assets/css/style.css">
    <link rel="stylesheet" href="/xdm/v1/css/datetimepicker/jquery.datetimepicker.min.css">

    <!-- dev -->
    <link rel="stylesheet" href="/usr/v1/css/common.css">

    <title>FishOn - 피쉬온</title>
    <link rel="icon" href="/usr/v1/template/themeforest-v1.0/assets/img/favicon.ico">

</head>
<body>
<div class="ts-page-wrapper ts-has-bokeh-bg" id="page-top">
    <div th:replace="~{usr/v1/etc/head :: page-header}"></div>
    <main id="ts-main">
        <section id="breadcrumb">
            <div class="container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/v1/index">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">회원가입</li>
                    </ol>
                </nav>
            </div>
        </section>
        <section id="page-title">
            <div class="container">
                <div class="ts-title">
                    <h1>회원가입</h1>
                </div>
            </div>
        </section>
        <section id="login-register">
            <div class="container">
                <div class="row">
                    <div class="offset-md-2 col-md-8 offset-lg-3 col-lg-6">
                        <div class="tab-content">
                            <div class="tab-pane active" id="register" role="tabpanel" aria-labelledby="register_tab">
                                <form class="ts-form" id="form-register">
                                    <div class="form-group register_item">
                                        <label for="register_name">이름</label>
                                        <div>
                                            <input type="text" class="form-control validate-this valid-user-name" id="register_name" name="mmName" placeholder="한글로만 이름을 입력해주세요." required>
                                        </div>
                                    </div>
                                    <div class="form-group register_item">
                                        <label for="register_email">이메일[아이디]</label>
                                        <div>
                                            <input type="email" class="form-control validate-this valid-email" id="register_email" name="mmEmail" placeholder="ex) example@gmail.com" required>
                                        </div>
                                    </div>
                                    <div class="ts-has-password-toggle register_item">
                                        <label for="register_passwd">비밀번호</label>
                                        <div class="input-group">
                                            <input type="password" class="form-control signup_password validate-this valid-password" id="register_passwd" name="mmPasswd" placeholder="ex) 123456abc@!" required>
                                            <div class="input-group-append">
                                                <a href="javascript:void(0);" class="input-group-text ts-password-toggle">
                                                    <i class="fa fa-eye"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="ts-text-small">※ 8~15자 사이여야 하며, 최소 1개의 숫자, 영문자, 특수문자를 포함해야 합니다.</p>
                                    <div class="ts-has-password-toggle register_item">
                                        <label for="register_passwdChk">비밀번호 확인</label>
                                        <div class="input-group">
                                            <input type="password" class="form-control signup_password validate-this valid-passwordCk" id="register_passwdChk" placeholder="Repeat Password" required>
                                            <div class="input-group-append">
                                                <a href="javascript:void(0);" class="input-group-text ts-password-toggle">
                                                    <i class="fa fa-eye"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group register_item">
                                        <label for="register_gender">성별</label>
                                        <div>
                                            <select class="custom-select validate-this valid-gender" id="register_gender" name="gender" required>
                                                <option value="">성별을 선택하세요.</option>
                                                <option th:each="gender: ${@codeService.selectListCachedCode(1)}" th:value="${gender.cdSeq}" th:text="${gender.cdName}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group register_item">
                                        <label for="register_tel">핸드폰 번호</label>
                                        <div>
                                            <input type="tel" class="form-control validate-this valid-phone-num" id="register_tel" name="mmTel" placeholder="ex) 01012345678" required>
                                        </div>
                                    </div>
                                    <div class="form-group register_item">
                                        <label for="register_birthDay">생년월일</label>
                                        <div>
                                            <input type="text" class="form-control signup_dateOfBirth valid-birth-num form-control validate-this" id="register_birthDay" name="mmBirthDay" placeholder="ex) 1999-11-11" required>
                                        </div>
                                    </div>
                                    <button id="signupBtn" type="button" class="btn btn-primary">회원가입</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main> 
    <div th:replace="~{usr/v1/etc/footer :: page-footer}"></div> 
</div>
<script src="/usr/v1/template/themeforest-v1.0/assets/js/jquery-3.3.1.min.js"></script>
<script src="/usr/v1/template/themeforest-v1.0/assets/js/popper.min.js"></script>
<script src="/usr/v1/template/themeforest-v1.0/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/usr/v1/template/themeforest-v1.0/assets/js/custom.js"></script>
<script src="/xdm/v1/js/datetimepicker/jquery.datetimepicker.full.min.js"></script>
<script src="/usr/v1/js/script.js"></script>
<script>
    window.addEventListener('load',function() {
        $.datetimepicker.setLocale('ko');
        $("#register_birthDay").datetimepicker({
            timepicker:false,
            format:'Y-m-d'
        });
    })
</script>
</body>
</html>
