#ts-primary-navigation{
    padding: .5rem 1rem;
    font-size: 1rem;
}

/*custom*/
.navbar-brand,.brand{
    padding-top: 0;
    padding-bottom: 0;
}
.navbar-brand img,.brand img{
    width: 65px;
}
ul.navbar-nav > .nav-item > .nav-link{
    white-space: nowrap;
}
.row {
    margin-right: 0;
    margin-left: 0;
}

#main_weather p,#local_weather p,#sea_weather p{
    font-size: 14px;
    white-space: nowrap;
}
#main_weather th,#local_weather th,#local_weather td,#local_weather td>*{
    text-align: center;
}
#main_weather td,#local_weather td{
    vertical-align: middle;
}
#local_weather td,#local_weather td>*{
    text-align: center;
}
.weather_menu ul li a>*{
    font-size: 20px;
}
img[alt="날씨이미지"]{
    width: 40px;
    height: auto;
}
#main_weather table *,#local_weather table *,#sea_weather table *{
    text-align: center;
    vertical-align: middle;
}

.is-invalid + .invalid-feedback{
    display: block;
}
.ts-password-toggle{
    background-color: transparent;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 3;
    border: none;
}
.register_item .input-group .signup_password{
    border-radius: .1875rem;
    border-top-right-radius:.1875rem;
    border-bottom-right-radius:.1875rem;
}
.ts-has-password-toggle{
    margin-bottom: 1.5rem;
}
.ts-has-password-toggle .input-group{
    margin-bottom: 0;
}
.user_info_form .invalid-feedback, .password_edit_form .invalid-feedback{
    display: block;
}


/*index 제철 낚시 포인트*/
.seasonalTabs  ul{
    width: 100%;
    /* gap: 30px; */
    /* flex-wrap: nowrap; */
}
.seasonalTabs li{
    width: calc((100% / 7));
    padding:20px 10px;
    text-align: center;
    border: 1px solid transparent;
    border-bottom: 0;
    white-space: nowrap;
    transition: all .5s ease;
}
.seasonalTabs .nav-item.active{
    border-color:#dee2e6;background-color: rgb(164, 222, 255);
    cursor: pointer;
}

.season_point .ts-item .ts-item__info h4{
    font-size: 1rem;
}

/*항구 상세*/
.ts-circle__xxl img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
}
.fishList-checkboxes aside{
    opacity: .5;
    font-size: .75rem;
}

/*기타*/
#more-options-collapse{
    max-height: 200px;
    overflow-y: auto;
}
.featured-properties dl:nth-child(1),.featured-properties dl:nth-child(2){
    flex: 0 0 50%;
    margin: 0;
    
}
#fishing_point .owl-item{
    /* min-width: 400px; */
}
#ts-hero #more-options-collapse{
    max-height: 200px;
}

/*icon*/
.icon_box i{
    font-size: 50px;
}
.waveDirectionIcon{
    color: #006DF0;
}
.windDirectionIcon{
    color: #FB8C00;
}
.weatherIcon{
    font-size: 30px;
    color: #EFCC00;
}
.weatherIcon i{
    font-size: 30px;
}

.ts-marker .ts-marker__image:before{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}

.leaflet-popup.leaflet-zoom-animated{
    transform: scale(0);
    transform-origin: bottom left;
    opacity: 0;
    transition: all .1s linear;
}


/*날씨*/
.weather_menu{
    top:100px;
    /* margin-left: -100px; */
    background-color: #dbe7f5;
    box-shadow: 0 .125rem .3125rem rgba(0, 0, 0, .1);
}
.weather_menu a{
    padding: 1rem 1.5rem;
}
.weather_menu a h4{
    font-weight: bold;
    color: #000;
    margin-bottom: 0;
    opacity: .5;
}
.weather_menu a:hover{
    color: #000;
    
}
.weather_menu a:hover h4{
    opacity: 1;
}
.weathers{
    margin-bottom: 50px;
}
.weathers table{
    margin-bottom: 20px;
}
.weathers table table{
    margin-bottom: 0;
}
.weathers h4{
    font-weight: bold;
}
.weather_table{
    width: 100%;
    border: 1px solid #dee2e6;
}
.weather_table td,.weather_table th{
    padding: 10px;
    border: 1px solid #dee2e6;
}
.weather_table span{
    white-space: nowrap;
}
.weather_wrapper td{
    vertical-align: middle;
}
.weather_wrapper td .gap-3{
    gap: 1rem !important;
}
.tideTable thead th{
    white-space: nowrap;
}
#main_weather .tideTable tbody tr *{
    /* text-align: left; */
}
.sea_weather td{
    border: 1px solid #dee2e6;
}
.sea_weather td>div{
    height: max-content;
}
.sea_weather td>div>div{
    padding:10px;
}
.sea_weather>table>tbody>tr:not(:first-child)>td:last-child{
    padding: 0;
}
/* .sea_weather>table>tbody>tr:not(:first-child)>td{
    padding: 0;
} */
.sea_weather>table>tbody>tr:not(:first-child) table td{
    height: 110px;
}
.sea_weather td:first-child>div:not(:first-child)>div:last-child{
    border-top: 1px solid #dee2e6;
}
.sea_weather td:first-child>div:not(:first-child)>div{

}
.sea_weather td:not(:first-child)>div>div:last-child{
    /* border-top: 1px solid #dee2e6; */
}
.sea_weather table table tr td:first-child{
    border-left: 0;
}
.sea_weather table table tr td:last-child{
    border-right: 0;
}
.sea_weather table table tr:first-child td{
    border-top: 0;
}
.sea_weather table table tr:last-child td{
    border-bottom: 0;
}
.main_weather table .higher{
    color:rgb(174, 30, 30)
}
.main_weather table .lower{
    color:rgb(30, 42, 174)
}

/*항구상세*/
#port_shipList .card-img{
    border: 1px solid #dee2e6;
}
#port_shipList .card-img::before{
    /* display: none; */
    background: rgba(0, 0, 0, 0.1);
}
.ptTitle{
    /* font-weight: bold; */
}
.ptDescText{
    font-size: 18px;
    color:#000;
    line-height: 25px;
    overflow: hidden;
    /* white-space: normal; */
    white-space: pre-wrap;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

@media (min-width: 576px) {
    #fishing_point .container {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    #fishing_point .container {
        max-width: 720px;
    }
    #ts-hero #more-options-collapse{
        max-height: none;
    }
    #featured-properties .container>div>div:nth-child(1){
        margin: 0 25%;
    }
}
@media (min-width: 992px) {
    #fishing_point .container {
        max-width: 960px;
    }
    #ts-hero #more-options-collapse{
        max-height: none;
    }
    #featured-properties .container>div>div:nth-child(1){
        margin: 0;
    }
}
@media (min-width: 1200px) {
    #fishing_point .container {
        max-width: 1400px;
    }
    #ts-hero #more-options-collapse{
        max-height: none;
    }
}
section#ts-hero{
    overflow: visible;
}