#ts-primary-navigation{
    padding: .5rem 1rem;
    font-size: 1rem;
}

/*custom*/
.navbar-brand,.brand{
    padding-top: 0;
    padding-bottom: 0;
}
.navbar-brand img,.brand img{
    width: 65px;
}
ul.navbar-nav > .nav-item > .nav-link{
    white-space: nowrap;
}
.row {
    margin-right: 0;
    margin-left: 0;
}
.weather_menu{
    top:150px;
    margin-left: -100px;
}
.weather_menu h3{
    margin-bottom: 0;
}
#main_weather p,#local_weather p,#sea_weather p{
    font-size: 14px;
    white-space: nowrap;
}
#main_weather th,#local_weather th,#local_weather td,#local_weather td>*{
    text-align: center;
}
#main_weather td,#local_weather td{
    vertical-align: middle;
}
#local_weather td,#local_weather td>*{
    text-align: center;
}
.weather_menu ul li a>*{
    font-size: 20px;
}
img[alt="날씨이미지"]{
    width: 40px;
    height: auto;
}
#main_weather table *,#local_weather table *,#sea_weather table *{
    text-align: center;
}

.is-invalid + .invalid-feedback{
    display: block;
}
.ts-password-toggle{
    background-color: transparent;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 3;
    border: none;
}
.register_item .input-group .signup_password{
    border-radius: .1875rem;
    border-top-right-radius:.1875rem;
    border-bottom-right-radius:.1875rem;
}
.ts-has-password-toggle{
    margin-bottom: 1.5rem;
}
.ts-has-password-toggle .input-group{
    margin-bottom: 0;
}
.user_info_form .invalid-feedback{
    display: block;
}


/*index 제철 낚시 포인트*/
.seasonalTabs  ul{
    width: 100%;
    /* gap: 30px; */
    /* flex-wrap: nowrap; */
}
.seasonalTabs li{
    width: calc((100% / 7));
    padding:20px 10px;
    text-align: center;
    border: 1px solid transparent;
    border-bottom: 0;
    white-space: nowrap;
    transition: all .5s ease;
}
.seasonalTabs .nav-item.active{
    border-color:#dee2e6;background-color: rgb(164, 222, 255);
    cursor: pointer;
}

.season_point .ts-item .ts-item__info h4{
    font-size: 1rem;
}

/*항구 상세*/
.ts-circle__xxl img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
}
.fishList-checkboxes aside{
    opacity: .5;
    font-size: .75rem;
}

/*기타*/
#more-options-collapse{
    max-height: 200px;
    overflow-y: auto;
}
.featured-properties dl:nth-child(1),.featured-properties dl:nth-child(2){
    flex: 0 0 50%;
    margin: 0;
    
}
#fishing_point .owl-item{
    /* min-width: 400px; */
}
#ts-hero #more-options-collapse{
    max-height: 200px;
}

/*icon*/
.icon_box i{
    font-size: 60px;
}
.waveDirectionIcon{
    color: #006DF0;
}
.windDirectionIcon{
    color: #FB8C00;
}
.weatherIcon{
    font-size: 40px;
    color: #EFCC00;
}

.ts-marker .ts-marker__image:before{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}

.leaflet-popup.leaflet-zoom-animated{
    transform: scale(0);
    transform-origin: bottom left;
    opacity: 0;
    transition: all .1s linear;
}

@media (min-width: 576px) {
    #fishing_point .container {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    #fishing_point .container {
        max-width: 720px;
    }
    #ts-hero #more-options-collapse{
        max-height: none;
    }
    #featured-properties .container>div>div:nth-child(1){
        margin: 0 25%;
    }
}
@media (min-width: 992px) {
    #fishing_point .container {
        max-width: 960px;
    }
    #ts-hero #more-options-collapse{
        max-height: none;
    }
    #featured-properties .container>div>div:nth-child(1){
        margin: 0;
    }
}
@media (min-width: 1200px) {
    #fishing_point .container {
        max-width: 1400px;
    }
    #ts-hero #more-options-collapse{
        max-height: none;
    }
}
section#ts-hero{
    overflow: visible;
}